{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">REGRAS GERAIS SOBRE AS INSCRIÇÕES EM MONITORIA</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>DA FUNÇÃO</h3>
			<p>O posto de monitor num evento é de suma importância, sendo considerada a função “coração” no corpo das comissões organizadoras. É ela que assegura o pleno funcionamento de todas as atividades acadêmicas, integradoras e culturais. 
			</p>
			<p>O monitor no X FIPED, terá de estar pronto para atuar à frente do (a): credenciamento, atuação e organização da apresentação dos trabalhos de comunicação oral e oficinas, zelo pelo cumprimento dos horários estabelecidos para início e término das atividades; gestão do espaço de informações aos participantes; divulgação da programação e ainda, dar suporte às diferentes comissões organizadoras do evento, tais como de logística, inclusão à pessoa com deficiência, recepção e transporte, cerimonial, etc. Por fim, também terá de estar apto à participar na elaboração coletiva do relatório final da monitoria </p>
		</div>
	</div>
</div>



<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2 class="display-1">02</h2>
		</div>
		<div class="col-md-10 col-sm-9 ">
			<h3>DOS BENEFÍCIOS</h3>
			<ul>
				<li>Abatimento de 50% na inscrição do X FIPED;</li>
				<li>Certificado de participação;</li>
				<li>Experiência na logística da construção de eventos acadêmicos;</li>
				<li>Interação social com pessoas do universo acadêmico;</li>
				<li>Enriquecimento do currículo acadêmico.</li>
			</ul>
			
		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">03</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>REQUISITOS PARA A INSCRIÇÃO</h3>
				<p>
					Os candidatos às vagas de monitoria do evento deverão contemplar todos os requisitos a seguir: 
				</p>
				<ul>
					<li>Idade igual ou superior a 18 anos;</li>
					<li>Estar devidamente matriculado em Curso de Graduação em uma das instituições promotoras do evento (UERN, IFRN, UFERSA E FACEP);</li>
					<li>Disponibilidade para participar de reuniões, atividades pré-FIPED e nos dias de realização do evento;</li>
					<li>Disponibilidade para atuar nas diferentes comissões organizadoras;	</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">04</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>INSCRIÇÃO</h3>
				<p>
					A inscrição será realizada de 25 de agosto a 15 de setembro de 2018 no site do evento do X FIPED, mediante documento comprovativo de que está devidamente matriculado em uma das instituições promotoras do evento (UERN, IFRN, UFPB, UFERSA E FACEP);
				</p>	
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>VAGAS E SELEÇÃO</h3>
				<p>
					Estão previstas 70 vagas para a função de monitor (a), sendo 24 para alunos (as) da UERN, 12 para IFRN, 12 para UFERSA e 12 para a FACEP;
				</p>
				<p>A seleção será realizada mediante a inscrição, desde que comprovada à matrícula em uma das IES promotoras do evento e por ordem de INSCRIÇÃO, em que os alunos (as) que se inscreverem para além das vagas previstas, ficará na condição de “classificável”.</p>
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">06</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>RESULTADO FINAL</h3>
				<p>
					O resultado final será divulgado na página do evento;
				</p>
				<p>O candidato classificado que não participe regularmente das reuniões do evento será eliminado e sua vaga será concedida aos candidatos classificáveis.</p>
				
		</div>
	</div>
</div>





<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}