{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/NORMAS.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>REGRAS GERAIS SOBRE AS INSCRIÇÕES</h3>
			<p>As inscrições deverão ser efetuadas por meio do preenchimento do formulário online, tendo-se o cuidado para preencher todas as informações necessárias e observando-se os prazos e normas estabelecidas, e mediante o pagamento das respectivas taxas referentes a cada uma das formas de participação no evento.
			</p>
			<p>A inscrição somente estará efetivada após o pagamento da taxa referente à categoria escolhida.</p>
		</div>
	</div>
</div>



<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2 class="display-1">02</h2>
		</div>
		<div class="col-md-10 col-sm-9 ">
			<h3>VALORES E FORMA DE PAGAMENTO</h3>
			<h4>2.1 DOS VALORES</h4> 
			<ul>Participantes em geral
				<li>Aluno de graduação (R$60,00)</li>
				<li>Aluno de pós-graduação (R$80,00)</li>
				<li>Professor da educação básica e demais profissionais (R$80,00)</li>
				<li>Professores do ensino superior (R$120,00)</li>
			</ul>
			<ul>Associados AINPGP
				<li>Aluno de graduação (R$40,00)</li>
				<li>Aluno de pós-graduação (R$30,00)</li>
				<li>Professor da educação básica e demais profissionais (R$30,00)</li>
				<li>Professores do ensino superior (R$20,00)</li>
			</ul>
				<p>* Todas as inscrições dão o direito de participação em uma oficina em pesquisa, desde que hajam vagas.</p>

			<h4>2.2 DAS FORMAS DE PAGAMENTO</h4> 
			
				<p>O pagamento deverá ser realizado até a data limite através da Área do Congressista com sistema Bcash®, utilizando as diferentes opções disponí­veis como boleto bancário, cartão de crédito/ débito e transferência para conta corrente (não será aceito depósito em caixa eletrônico). O pagamento poderá ser dividido em até 12x no cartão, entretanto taxas e encargos poderão ser cobradas pela operadora do cartão.</p>
		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">03</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>MODALIDADES DE TRABALHOS: COMUNICAÇÃO ORAL</h3>
				<p>
					A inscrição em trabalhos de comunicação oral deve ser enviado exclusivamente para os Grupos de Trabalhos (GTs) no <i>site</i> do evento, não sendo aceito envio de trabalhos por e-mail.
				</p>
			</div>
		</div>
	</div>


	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">04</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>OFICINAS EM PESQUISAS</h3>
				<p>
					As Oficinas de Pesquisa  se caracterizam em duas modalidades (estudantes de graduação com 8h e de Pós-Graduação, com 15h/01 crédito). Com vagas limitadas serão disponibilizadas no sistema para os participantes cadastrados e com situação de pagamento concluída até que as vagas sejam preenchidas. O encerramento das mesmas será comunicado pelo <i>site</i> do evento.
				</p>	
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>ÁREA DO CONGRESSISTA</h3>
				<p>
					Para ter acesso a área do congressista será necessário o preenchimento dos campos e-mail e CPF. Nessa área o congressista poderá resolver todas as pendências referentes à sua inscrição como: envio de comprovante digitalizado em formato "jpg", envio de trabalhos (doc, word 7,0 ou superior), pagamento da taxa de inscrição (em PDF ou JPG), inscrição em oficina, consultar o resultado da avaliação de trabalho, baixar carta de aceite e fazer atualizações.
				</p>
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">06</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>POLÍTICA DE DEVOLUÇÃO DA TAXA DE INSCRIÇÃO</h3>
				<p>
					A Coordenação Geral do X FIPED informa que a inscrição no evento é pessoal e intransferível, não havendo devolução total ou parcial do valor pago no caso de desistência, impossibilidade de participar na ocasião da data de realização do evento ou ainda não aprovação do trabalho de comunicação oral e proposição de oficina em pesquisa enviados.
				</p>
				
		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">07</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>CREDENCIAMENTO</h3>
				<p>
					O credenciamento será efetuado apenas com a apresentação de um documento oficial com foto (RG, CNH, documento oficial expedido por órgãos federais). Não será permitido o credenciamento por e de terceiros.
				</p>
				<p>A entrega do material do evento será realizada apenas ao participante presente e com inscrição concluída.</p>
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">08</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>CERTIFICADOS</h3>
				<p>
					O credenciamento e assinatura nas listas de presença das atividades é obrigatório para a emissão dos certificados.
				</p>
				
			</div>
		</div>
	</div>


<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}