{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/oficinas.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->



<div class="container">
	<div class="row">
		<div class="col-md-12 un-pd-5" style="font-size: 16px;">
			

			<p>
				As oficinas de Pesquisa destinada para a Graduação devem ser submetidas por Docentes, preferencialmente, em coautoria com pelo menos um aluno de graduação. As Oficinas destinadas à Pós-Graduação devem ser submetidas apenas por Docentes de Programas de Pós-Graduação de IES brasileira ou estrangeira, preferencialmente, em coautoria com pelo menos um aluno de Pós-Graduação.
			</p>
			<p>
				 - As oficinas de pesquisa para graduação funcionam como espaços voltados para a elaboração de pré-projetos de pesquisa, oferecendo diretrizes e apresentando possibilidades de questões investigativas, a partir das temáticas específicas, vinculadas aos GTs propostos no X FIPED, objetivando mostrar as possibilidades de pesquisa e a instrumentalização necessária para realizá-la. 
			</p>
			<p>
				 - As Oficinas de Pesquisas destinada a estudantes da Pós-Graduação se constituem oportunidades para que os estudantes vinculados a programas se apropriem de temáticas que ampliem o seu campo de investigação, estabeleça reflexões acerca de novos objetos de estudos, envolvendo metodologias e instrumentos de pesquisa, bem como questões éticas, dentre outros temas ofertados, podendo, a critério dos Programas contar até um crédito. 
			</p>
			<p>
				Para maiores informações sobre o evento navegue em nosso site www.ainpgp.org ou fale conosco pelo e-mail ainpgp@gmail.com
			</p>
		</div>
	</div>

</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>

{% endblock %}