{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/gruposdetrabalho.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>GT-01</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM ANCESTRALIDADE, AFRICANIDADES E RELAÇÕES ÉTNICO-RACIAIS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT objetiva evidenciar a cosmovisão africana destacando conceitos de educação, ancestralidade, interculturalidade, diáspora, política, migrações, desenvolvimento, sexualidades, corpo, religiosidade, saúde/doenças, dentre outros.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Cristiane Nepomuceno (UEPB)<br>
                                Profa Dra Kássia Mota de Sousa (UFCG)<br>
                                Discente Maria Daiana Lopes da Silva<br>
                                Prof. Dr. Benedito Gonçalves Eugênio (UESB)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-02</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM ARTE E EDUCAÇÃO (ARTES VISUAIS, DANÇA, MÚSICA E TEATRO)</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT pretende debater sobre práticas transdisciplinares e interdisciplinares na arte-educação; Ensino de arte no Brasil e perspectivas para a educação. Práticas escolares, formação de professores, arte e educação; arte-educação no Ensino Fundamental e Educação Infantil; Processos de criação e expansão através da integralização das linguagens: artes plásticas, música, teatro e dança; Pesquisas sobre PCNs, BNCC e Propostas Curriculares para o ensino da arte; Relatos de experiências sobre arte-educação em espaços escolares e não escolares.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Inambê Sales Fontenele  (FLATED)<br>
                                Discente Rafaela Rofrigues (UERN)<br>
                                Profa Dra Luciane Germano Goldberg (UFC)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-03</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM AVALIAÇÃO EDUCACIONAL</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>A proposta visa a disseminar o conhecimento resultante dos estudos e pesquisas realizadas em  avaliação, para tanto os trabalhos devem contemplar estudos sobre a avaliação em diversas nuances: avaliação da aprendizagem; avaliação institucional; avaliação integrada de políticas públicas definidas para a educação que relacionem a importância da prática da pesquisa para a formação docente; avaliação dos impactos das avaliações em larga escala sobre os sistemas de ensino, assim como pesquisas sobre planejamento, execução e avaliação de políticas educacionais para uma educação e uma pedagogia não discriminatória.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Ma. Antônia Bruna da Silva (UERN)<br>
                                Profa. Ma. Artemízia Ribeiro Lima Costa (FVJ)<br>
                            Profa. Ma.  Iasmin da Costa Marinho (UERN)<br>
                            Profa. Ma.  Larissa Martins Dantas ( Ed. Básica)<br>
                            Profa. Dra.  Wirla Risany Lima Carvalho (UFPI)<br>
                            Discente Marciel Carlos de Sousa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-04</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO DO CAMPO, MOVIMENTOS SOCIAIS e DIREITOS HUMANOS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT pretende aglutinar trabalhos que versem sobre a educação campesina  e Movimentos Sociais, sua luta política, empoderamento e resistência frente as contradições materiais de produção da existência. Debater questões que englobem: luta de classes; marxismo, anarquismo, sindicalismo, partidos políticos, experiências educativas (formal e informal), educação popular, educação do campo, MST, Feminismo, Indígenas, Negros, LGBTT, Habitação, Saúde, Ambiental, Estudantil, entre outros.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Simone Cabral Marinho dos Santos (UERN)<br>
Prof. Dr. Virgílio Nascimento – (UFMA)<br>
Discente Alany Rafaelly Gomes da Silva (UERN)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-05</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO E ESTUDOS DO DISCURSO</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Aceite trabalhos, na perspectiva interdisciplinar e com o uso de vários modelos de métodos teóricos,  na interface entre a Educação e as várias formas dos Estudos do Discurso.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Ivanaldo Oliveira dos Santos (UERN) <br> Prof. Dr. Antonio Pereira Júnior (UERN) <br> José Francisca das Chagas (PPGL-UERN) <br> Discente Ma. Fabiana Silva                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-06</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO INCLUSIVA</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Objetiva-se, com a presente proposta, debater aspectos conceituais, epistemológicos, filosóficos e pedagógicos que subjazem à inclusão escolar de crianças, jovens e adultos com deficiência, como: projeto compartilhado, currículo adaptado, organização flexível, barreiras atitudinais e/ou inclusivas na comunidade educacional e formação docente. Desse modo, ao selecionar relatos de experiências, artigos e ensaios acadêmicos, resultantes de pesquisas na graduação ou pós-graduação, que contenham em seus corpus questões inerentes às bases e práticas escolares de orientação inclusiva, busca-se, principalmente, refletir, evidenciar e problematizar experiências e ações que estão contribuindo para um ensino para Todos, e que são propagadoras de novas possibilidades educacionais.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Francisca Geny Lustosa (UFC) <br> Profa. Dnda. Disneylândia Maria Ribeiro (UERN) <br> Profa Michelle Mayra Palmeira Cordeiro (Ed. Básica) <br> Discente Amanda Rodrigues Gomes Lacerda                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-07</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO INFANTIL </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>A criança e a construção social da infância. Políticas de atendimento à infância no Brasil. A Educação Infantil no contexto histórico. Políticas públicas para a Educação Infantil. A Educação Infantil e os Campos de Experiência na BNCC. As culturas infantis e a Pedagogia da Infância. A criança e suas múltiplas linguagens. O currículo e a ação pedagógica na Educação Infantil. A organização dos espaços/tempos da Educação Infantil. Professoras e professores da Educação Infantil: formação, identidade e profissionalização.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Maria da Conceição Costa (UERN) <br> Profa Dra Soraya Maria Barros de Almeida Brandão (UEPB) <br> Prof. Esp. Francisco Reginaldo Linhares (Ed. Básica) <br> Discente Maria Eliza Rocha Silva (UERN) <br> Discente Luana Karolinne Martins de Araújo                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-08</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO INTERCULTURAL E PARA A DIVERSIDADE E OS DIREITOS HUMANOS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT pretende reunir pesquisas e relatos de experiências sobre: a educação voltada aos direitos humanos tanto no âmbito formal como não formal; educação e direitos humanos no currículo escolar; práticas escolares para a igualdade e a dignidade humana; A escola como espaço de emancipação e diálogo intercultural com as diferenças; A cidadania apoiada na igualdade entre os sujeitos e na participação/formação plena dos indivíduos; educação, desigualdades sociais e direitos humanos; classes sociais, escola e direito pleno à cidadania.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Maria do Socorro da Silva Batista (UFERSA) <br> Prof. Dr. Alexandre Martins Joca (UFCG) <br> Discente Laiara Sousa Campelo (UFERSA)                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-09</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM MEMÓRIA, CULTURA E IDENTIDADE</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Memória social e o processo de construção das identidades sociais no sentido de (re) contar experiências passadas. Memória, identidade e/ou espaço articulados com as diversas formas de manifestações culturais. </p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Gilton Sampaio de Souza (UERN) <br> Profa. Dra. Maria Lúcia Pessoa Sampaio (UERN) <br> Profa. Dnda. Iandra Fernandes Pereira Caldas (UERN) <br> Discente Claudia Magna Pessoa (UERN)                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-10</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISA EM ÉTICA, EDUCAÇÃO E CIDADANIA </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Reúne pesquisas que abrangem os processos do ensino e da aprendizagem nos DOMÍNIOS da práxis da ética educacional para a formação cidadã nos espaços escolares e não escolares. Tem como eixos epistêmicos: Ética na educação; Ética profissional; Ética no ensino; Ética na formação do pedagogo; O ensino para a educação de valores; Ética na formação (inicial, continuada, etc.); Ética na formação emocional do educador, dentre outros núcleos temáticos que envolvam a ética na esfera dos domínios apresentados.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Sheyla Maria Fontenele Macedo (UERN)
<br>
Profa. Ma. Marília Cavalcante de Freitas Moreira (UERN)
<br>
Prof. Esp Michaell Magnos Chaves de Oliveira
<br>
Discente João Filho de Queiros (INSTITUTO CLARA VITÓRIA)
<br>
Discente José Mário de Souza
<br>
Profa Ma Artemízia Ribeiro Lima Costa - Faculdade do Vale do Jaguaribe
<br>                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-11</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISA EM ENSINO DE CIÊNCIAS EXATAS E NATURAIS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT destina-se a trabalhos teóricos e empíricos que versem sobre o ensino de ciências exatas e naturais suas tecnologias em seus contextos e práticas. Os trabalhos a serem apresentados devem refletir sobre as mais diversas questões acadêmicas e profissionais no campo de ensino exposto.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr.  Glaydson Francisco Barros de Oliveira (UFERSA), <br> Profa. Dra. Ayla Marcia Cordeiro Bezerra (IFRN), <br>  Prof. Dr. Albano Oliveira Nunes (FVJ/PPGE) <br> Prof. Dr. Otavio Paulino Lavor (UFERSA) <br> Discente Sara Guimarães Negreiros (UFERSA) <br> Prof. Dr. Alessandro Frederico da Silveira (UEPB)                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-12</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM ENSINO DE HISTÓRIA </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT pretende reunir trabalhos que versem sobre Ensino de História da Educação; Ensino de História; Historiografia; Patrimônio Escolar; Materiais pedagógicos; Instituições Escolares; Memória e práticas escolares formais e não formais.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra. Maria da Paz Cavalcante <br> Profa Me. Ana Paula de Andrade Rocha (Ed. Básica - IFPB) <br> Profa Sheila Danielle Fernandes de Souza (UERN) <br> Discente Priscilla Rayanne de Souza Silva                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-13</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM ENSINO DE LEITURA E LITERATURA</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Reúne pesquisas e atividades práticas relacionadas ao ensino de literatura, a leitura literária e a formação do leitor de literatura na Educação Infantil, nos Anos Iniciais do Ensino Fundamental e nos cursos de Pedagogia, tendo ainda como escopo a Educação Básica, o Ensino Superior até a Pós-Graduação.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Diana Maria Leite Lopes Saldanha (UERN)<br> 
                                Discente Bruna Bonivais de Oliveira (UERN) <br>
                                Profa. Ma. Maria Gorete Paulo Torres <br>
                                Profa. Ma. Míria Helen Ferreira de Souza <br>
                                Doutorando José Carlos Redson (PPGL/UERN)                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-14</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM FORMAÇÃO DE PROFESSORES, DIDATICA, CURRICULO PRÁTICAS PEDAGÓGICAS E TRABALHO DOCENTE</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT objetiva, no âmbito do debate sobre formação de professores e as práticas escolares, contemplar pesquisas sobre: reflexões sobre a qualidade do trabalho escolar; apreciação qualitativa da práxis docente; avaliação escolar; atribuição de notas e conceitos; avaliação e construção de conhecimento; a dicotomia: avaliação e educação; tendências teóricas da avaliação; avaliação classificatória e mediadora; práticas inovadoras, centradas na produção do conhecimento e na sua socialização individual/coletiva, na perspectiva da formação humana omnilateral; didática, centrada na formação de professores, práticas pedagógicas e trabalho docente.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Vivian da Silva Lobato (UFPA) <br> Prof. Ms. Jameson Ramos Campos (UEPB) <br> Profa. Ma. Maria Eridan da Silva Santos (UERN) <br> Discente Suelda Maracio da Silva (UERN)                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-15</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM FUNDAMENTOS DA EDUCAÇÃO: FILOSOFIA, HISTÓRIA, ANTROPOLIA, PSICOLOGIA DA EDUCAÇÃO E SOCIOLOGIA</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT pretende debater sobre pesquisas e relatos de experiências que analisem interdisciplinarmente os fundamentos da educação com ênfase na Filosofia e Sociologia, Psicologia, História da Educação,  Antropologias e epistemologias da Educação. Nesta perspectiva, pretende-se ampliar o debate sobre os referidos campos que se ocupam da reflexão sobre os processos educativos, os sistemas educativos, a sistematização de métodos didáticos e suas imbricações com a educação. A articulação das reflexões históricas, filosóficas, sociológicas, psicológicas e antropológicas com as “inovações” pedagógicas e os direitos humanos. O ser humano no interior das teorias da educação: perspectivas filosóficas e antropológicas. A práxis educativa contemporânea.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Franselma Fernandes de Figueirêdo (UFERSA) <br> Prof. Mdno Fernando de Oliveira Freire<br> Discente Aisla Rayla da Silva Ferreira (UFERSA) <br> Prof.ª Dr.ª Ivana de Oliveira Gomes e Silva (UFPA-Castanhal) <br> Prof. Dr. Paulo Lucas da Silva (UFPA-Castanhal) <br> Prof. Ms. Renato Cadore (UFMA)                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-16</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM PLANEJAMENTO, GESTÃO E POLÍTICAS PÚBLICAS EDUCACIONAIS </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Pretende reunir pesquisas no âmbito da política, do planejamento e da gestão da educação nos diferentes níveis, nacional, estadual, municipal, e/ou em gestão escolar, com ênfase em atividades de pesquisa, ensino ou extensão. Como também investigações inter-relacionadas com espaços identificados como não-escolares. E ainda textos que invistam em análise/avaliação de políticas voltadas à educação: documentos oficiais, práticas públicas/institucionais, limites e possibilidades de tais ações no contexto escolar. A função administrativa da unidade escolar e do gestor: contextualização teórica e tendências atuais. A dimensão pedagógica do cotidiano da escola e o papel do administrador escolar. Levantamento e análise da realidade escolar: o projeto político pedagógico, o regimento escolar, o plano de direção, planejamento participativo e órgãos colegiados da escola. Plano de gestão e resolução de conflitos no âmbito escolar.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Ciclene Alves da Silva (UERN); <br> Prof. Dr. Allan Solano Souza (UERN) <br> Arilene Maria Soares de Medeiros (UERN) <br> Prof. Dr. Alexandre Augusto Cals e Souza (UFPA) <br> Profa Me. Maria Bárbara da Costa Cardoso (UFPA) <br> Prof. Dr. Afonso Welliton de Sousa Nascimento (UFPA) <br> Discente Maria Beatriz Fernandes (UERN) <br> Prof. Dr. Jakson José Gomes de Oliveira (SEDUC/PA) <br> Prof. Me. Ana Lúcia Almeida de Oliveira (SEMED-ALTAMIRA/PA)                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-17</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM LINGUAGENS, LETRAMENTO E ALFABETIZAÇÃO </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Objetiva agregar propostas de investigação que reflitam sobre as práticas de múltiplas linguagens, leitura e escrita na alfabetização, considerando que a criança alfabetiza-se, constrói seu conhecimento do sistema alfabético e ortográfico da língua escrita, em situações de letramento, isto é, no contexto de e por meio de interação com material escrito real, e não artificialmente construído. Agrega investigações sobre alfabetização que adotam concepções teóricas oriundas de outros referenciais também serão aceitas, no sentido de, assim, travarmos também um diálogo entre vertentes teóricas distintas. Pretende ainda debater sobre: aquisição da leitura e da escrita; metodologias de alfabetização e formação docente.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Maria do Socorro Maia F. Barbosa (UERN) <br> Profa. Ma. Francicleide Cesário de Oliveira (UERN) <br> Kaiza Maria Alencar de Oliveira <br> Discente Letícia Bezerra França                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-18</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM PEDAGOGIA DA ALTERNÂNCIA, PEDAGOGIA ITINERANTE, PEDAGOGIA DA TERRA E PEDAGOGIA SOCIAL</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Congrega trabalhos acerca dos seguintes temas: Educação direito de todos. A complexidade inerente aos processos educativos da contemporaneidade tem demando do pedagogo uma nova postura e um novo agir que corresponda aos desafios do tempo presente. A Pedagogia da Alternância como direito à educação no Campo. A flexibilidade curricular inerente à Pedagogia da Alternância. Pedagogia da Alternância e bases legais. Pedagogia em movimento, a experiência das salas de aula ampliada, socializando e construindo saberes em espaços diversos. Pedagogia da Terra, a luta, a resistência, os desafios, as conquistas. A Pedagogia da Terra e o acesso à educação como fator de inclusão e emancipação. A Pedagogia Social como possibilidade de produção, sistematização e socialização do conhecimento no âmbito das práticas educativas em contextos não escolares, mas que se delineiam a partir de propósitos voltados à formação humana, à cidadania e a dignidade da pessoa humana</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Maria Gerlaine Belchior Amaral (UFCG) <br> Prof. Dr. José Amiraldo Alves da Silva (UFCG) <br> Profa. Dra Maria de Lourdes Campos (UFCG) <br> Discente Raquel Fernandes de Queiroz                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-19</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM PRÁTICAS FORMATIVAS, ENSINO E PESQUISA EM GEOGRAFIA E CIÊNCIAS HUMANAS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Aceita-se trabalhos que contemplem estudos teóricos ou empíricos sobre formação docente inicial e continuada considerando as diversas perspectivas teóricas e os programas formativos; Uso de metodologias e tecnologias do ensino; Ensino por pesquisa, Ensino e interdisciplinaridade; Linguagens e ensino; A BNCC, formação e ensino; Práticas de ensino e o novo ensino médio; Estágios Curriculares, ensino e pesquisa.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Rosalvo Nobre Carneiro (PPGE/UERN) <br> Prof. Me. Luiz Eduardo do Nascimento Neto (CGE/UERN) <br> Profa Ma. Andrea Paula Rêgo Maia (UERN) <br> Discente Hortência Pessoa Rego (CGE/UERN)                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-20</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM TECNOLOGIAS DA INFORMAÇÃO E COMUNICAÇÃO E MIDIAS DIGITAIS </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O objetivo deste grupo de trabalho é debater: tendências atuais da mídia-educação no Brasil/Mundo, seus conceitos e ações; sociedade em rede; a revolução tecnológica que se desenrola em nosso tempo e vem estabelecendo a chamada sociedade do conhecimento; reestruturação produtiva; sociedade da informação X sociedade da aprendizagem; tecnologias da informação e comunicação e a escola; tecnologias da informação e comunicação e formação de professores; tecnologias da informação e comunicação e os processos de ensino e aprendizagem.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Ernano Arraias Junior; <br> Prof. Luis Miguel Dias Caetano (UNILAB)  <br> Profa Me Maria Oliveira<br> Discente Juarez Alexandre Oliveira Holanda (UFERSA) <br> Profa Me. Maria das Graças de Oliveira  Pereira (UERN) <br> Prof. Dr. Marcelo Pustilnik Vieira (UFSM) <br> Discente Vanérica Alves Dias (UFERSA)                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-21</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS NA ÁREA DOS ESTUDOS DO TEXTO E DO DISCURSO</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT congrega pesquisas sobre o texto e o discurso em diversas abordagens teóricas e estudos sobre o ensino de texto em práticas de uso da linguagem.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Maria Eliete de Queiroz (UERN) <br> Profa. Dra. Rosângela Alves dos Santos Bernardino (UERN) <br> Profa Dra. Lidiane de Morais Diógenes Bezerra (UERN) <br> Discente José Aldivan Almeida Silva                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-22</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM LÍNGUAS E LITERATURAS ESTRANGEIRAS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>O GT congrega pesquisas na área de línguas estrangeiras e suas respectivas literaturas.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Maria Zenaide Valdivino da Silva<br> Prof. Dr. Marcos Nonato de Oliveira<br> Prof. Me. Marcos Antônio da Silva<br> Discente Yanka Layone de Carvalho Souza                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-23</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM TECNOLOGIAS EDUCACIONAIS EM SAÚDE</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Pesquisas, experiências e reflexões teóricas enquanto conjunto de procedimentos, técnicas e instrumentos integrados ao desenvolvimento do sistema educacional com foco na formação de professores, profissionais da saúde e pesquisadores crítico-reflexivos. O ensino em saúde e as novas tecnologias. Softwares educacionais. Aplicativos com foco no ensino e aprendizagem em saúde.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa Dra Diana de Souza Rego Pinto (UERN/Enfermagem) 
<br> Prof. Dra. Pétala Tuani Cândido de Oliveira Salvador (UFRN/Escola de Saúde de Natal)                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-24</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM EDUCAÇÃO DE JOVENS E ADULTOS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Processo histórico da EJA, políticas públicas e a EJA, formação e prática docente, instrumentos de avaliação, metodologia de ensino na EJA, relação professor aluno no contexto da eja, os sujeitos da EJA.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Eduardo Jorge Lopes da Silva (UFPB) <br>  Profª. Me. Lívia Sonalle do Nascimento Silva (UERN) <br> Profa Me. Maria Bárbara da Costa Cardoso (UFPA) <br> Discente Leandro Alves de Medeiros (UERN)                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-25</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM DINÂMICAS TERRITORIAIS, POBREZA E DESIGUALDADE</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>-</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Miguel Henrique da Cunha Filho<br> Discente Renata Katiele da Costa Santiago<br> Discente Jackson Rayron Monteiro                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-26</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISA EM ENSINO, PESQUISA E CAPACITAÇÃO DOCENTE EM ADMINISTRAÇÃO</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Agrega pesquisa casos de Ensino. Tecnologias educacionais. Metodologias ativas. Gestão educacional. Capacitação docente. Reflexões derivadas do exercício investigatório em Administração (pesquisa). Ensino e aprendizagem em Administração.</p>
                    </div>

                    <div class="col-md-5">  
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr.  Luís Miguel Dias Caetano (UNILAB) <br> Prof. Ms. Sidnéia Maia de Oliveira Rego (UERN) <br> Prof. Ms. Alexandre Wállace Ramos Pereira (UERN) <br> Discente Maria Elizânia Chaves Valentim (UERN)                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-27</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISA EM ENSINO DA MÚSICA EM DIFERENTES CONTEXTOS</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Discutir a pesquisa em Ensino de Música em múltiplos contextos destacando diferentes metodologias e aspectos epistemológicos da pesquisa em Ensino de Música.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Prof. Dr. Giann Mendes Ribeiro  (UERN) <br> Prof. Me. Leandro de Oliveira (SFP) <br> Prof. Graduado Elton Souza de Melo (SFP) <br> Profa  Mnda Anne Valeska Lopes da Costa  (UERN/SFP) <br> Discente Lorena Ramos (UERN/SFP)                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-28</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS E EXPERIÊNCIAS PEDAGÓGICAS EM EDUCAÇÃO FÍSICA</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Propõe a ser um núcleo de discussões de diferentes práticas em Educação Física, bem como espaço de partilhamento de experiências e pesquisas relacionadas à cultura corporal de movimento</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Bertulino José de Souza (UERN) <br> Prof. Ma. Dandara Queiroga de Oliveira  Sousa (UERN) <br> Prof. Dnda. Maria Ione da Silva (UERN) <br>Discente Maria Vanessa da Silva Barros (UERN)                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-29</h2>
            </div>
            <div class="col-md-9">
                <h3>PESQUISAS EM CRIATIVIDADE E SUBJETIVIDADE NOS CONTEXTOS ESCOLARES E NÃO ESCOLARES</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Visa fomentar as discussões acerca das pesquisas que tenham como foco temático estudos que envolvem a criatividade e a subjetividade, tanto nos contextos escolares quanto não escolares.</p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Profa. Dra. Francileide Batista de Almeida Vieira (UFRN) <br> Profa. Ma. Keutre Glaudia da Conceição Soares Bezerra (UERN) <br> Discente Francisca Marciana Pereira da Silva  (Pedagogia/PARFOR/CAMEAM/UERN)                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2>GT-30</h2>
            </div>
            <div class="col-md-9">
                <h3>PEDAGOGIAS, CURRÍCULOS E POLÍTICA DO ENSINO MÉDIO</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p>Possibilitar o debate acerca das pedagogias reLacionadas as práticas de ensino, curriculares e políticas de gestão escolar, considerando as diferentes perspectivas que englobam os processos pedagógicos no âmbito educacional. Oportunizar discussões necessárias às políticas educacionais e às construções curriculares em seus diversos contextos, evidenciando a produção dos sentidos de currículo no ensino fundamental e médio.                                   </p>
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Prof. Dr. Jean Mac Cole Tavares Santos
<br>
Discente:  Aline Carla Silva Pereira (Pedagogia/CAMEAM/UERN)                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock %}