{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/normasparatrabalhosecomunicaçãooral.jpg' %}">
		<div class="container">
			<h1 class="h1"></h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>Da modalidade</h3>
			<p>Os trabalhos de comunicação oral devem ser submetidos por graduandos, profissionais e pesquisadores da educação em geral. Terão de apresentar resultados de pesquisas concluídas ou em andamento. Os trabalhos poderão ainda estar interligados às esferas do ensino ou da extensão e precisarão se relacionar as temáticas específicas, vinculadas aos GTs propostos no X FIPED.
			</p>
			
		</div>
	</div>
</div>



<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2 class="display-1">02</h2>
		</div>
		<div class="col-md-10 col-sm-9 ">
			<h3>Da autoria (autor/a e coautor/a) e do envio</h3>
			<p>Os trabalhos de comunicação oral poderão ser inscritos com até 4 (quatro) participantes, sendo um autor (a) e 3 (três) coautores (as), todos devidamente inscritos no evento, com o pagamento da taxa de inscrição efetivado. Cada participante poderá inscrever-se no máximo em 4 (quatro) trabalhos de comunicação, sendo 2 (dois) como autor (a) e 2 (dois) em coautoria. Caberá ao autor (a) principal submeter os trabalhos de comunicação oral no formulário de inscrição online e em papel timbrado, conforme o modelo disponibilizado no site do evento para download, indicando o nome dos (as) coautores (as). Caso esse procedimento não seja seguido, não será possível a inserção posterior e os nomes não constarão no certificado de apresentação do trabalho, tão pouco na publicação dos Anais/E-book.</p>
			<a href="/static/PAPEL_TIMBRADO_FIPED.docx" class="btn btn-default">Baixar papel timbrado</a>
		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">03</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Do formato</h3>
				<p>
					O trabalho completo deverá ser digitado no Word for Windows (7.0 ou mais atual), conter entre 08 e 12 páginas, em fonte Times New Roman, tamanho 12, espaço 1,5, alinhamento justificado. Os trabalhos em língua portuguesa devem obrigatoriamente seguir as normas da ABNT, sendo em língua estrangeira ficará critério da autoria a utilização das normas da APA. Deve-se evitar o uso de notas de rodapé, sendo a revisão textual de responsabilidade do (a) autor (a) e coautores (as).
				</p>
				<p>O corpo do trabalho de comunicação oral terá de constar:</p>
				 <ul><li> O título do trabalho em letra maiúscula, negrito, alinhamento centralizado, em Times New Roman, tamanho 12. Em seguida, em espaço simples, o nome do (a) autor (a) e coautores (as) com apenas as iniciais em maiúsculas, com alinhamento à direita. Abaixo de cada autoria/coautoria, em espaço simples, terão de ser registradas suas respectivas funções, instituição (ões) e e-mail, com alinhamento à direita, tamanho 11.</li>
				 <li>Resumo (mínimo de 150 e máximo 250 palavras, ver orientação a seguir); </li> 
				 <li>Introdução com problema de pesquisa, objetivos, procedimentos metodológicos adotados; </li>
				 <li>(Seções com o desenvolvimento do artigo (discussão teórica e resultados alcançados); </li>
				 <li>Considerações Finais;</li>
				  <li>Referências.</li>
				 </ul>
				<p>O resumo deverá ser digitado no Word for Windows (7.0 ou mais atual), fonte Times New Roman, tamanho 11, espaço  simples,  alinhamento  justificado,  e  conter entre 150 e 250 palavras, devendo conter os objetivos, a metodologia, informações do (s) objeto (s) de estudo ou a relação existencial entre estes  e os  principais resultados. Abaixo um espaço simples apresentando três a cinco palavras-chave, separadas por ponto final.</p>
			</div>
		</div>
	</div>


	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">04</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Da apresentação</h3>
				<p>
					No dia, local e horário estipulados para a apresentação do trabalho, pelo menos um dos componentes da autoria (autor/a ou coautor/a) deverá estar presente. O trabalho terá de ser apresentado em no máximo 10 minutos, utilizando-se projeção multimídia, ou não ficando esta decisão a critério da autoria. O projetor multimídia será ofertado pela organização do X FIPED para aqueles que dele farão uso.</p>
			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Importante</h3>
				<ul>
					<li>Cada trabalho de comunicação oral deverá estar vinculado a apenas um dos GTs, reservando-se à comissão científica do evento o direito de reclassificar a área temática. O trabalho receberá a avaliação de aprovado, aprovado com correções ou reprovado. Um mesmo trabalho não será submetido duas vezes à correção. Ou seja, após envio do trabalho que foi indicado para retificação, é importante que a autoria se certifique de que todas as correções foram realizadas, pois não haverá nova submissão. </li>
					<li>Não será permitida a inserção de participantes na plataforma online após a submissão dos trabalhos de comunicação oral, sejam eles autores (as)  ou coautores (as).</li>
					<li>Recomenda-se que todos os trabalhos de comunicação oral sejam cuidadosamente revisados antes da submissão para que seja evitada a sua eliminação.</li>
				</ul>
			</div>
		</div>
	</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}