{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/BACK.jpg' %}">
		<div class="container">
			<h1 class="h1">LANÇAMENTO DE LIVRO</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>Das Regras</h3>
			<p>Todo autor que deseja submeter a proposta para lançamento de livro, deverá se inscrever no X FIPED através do seguinte formulário: LINK: <a href="http://www.ainpgp.org/xfiped/">www.ainpgp.org/xfiped/</a>
			</p>
			<p>Junto a esse formulário o(a) autor(a) deverá enviar uma foto da capa do livro para divulgação no site do evento.</p>

			<p>As propostas serão avaliadas pela Comissão Cientifica do Congresso. Os autores aprovados, deverão estar presentes no evento para fazer a sua exposição, na hora e local determinado pelo cronograma do EVENTO.</p>

			<p>O autor será responsável pelo transporte dos livros até o local do evento, acomodação dos mesmos no lugar estipulado pela organização e pela retirada do material ao término da atividade. Para obras com mais de um (a) autor (a) pelo menos um deles deverá estar presente e permanecer junto aos livros durante toda a atividade para interação com o público e com os demais participantes do evento.</p>
			
			<a href="{% url 'cbvadmin:oficinas_livro_add' %}" class="btn btn-default">FORMULÁRIO DE LANÇAMENTO DE LIVRO</a>
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}