{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/BACK.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">Mesas-redondas aprovadas</h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>01</h2>
            </div>
            <div class="col-md-9">
                <h3>GESTÃO DE SISTEMAS MUNICIPAIS DE ENSINO, ENSINO MÉDIO E FORMAÇÃO</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p style="text-align: justify;"><strong>Ementa:</strong> A mesa tem como objetivos discutir os Sistemas Municipais de Ensino sua organização e gestão após a aprovação dos Planos Municipais de Educação, bem como, a influências das políticas de Ensino Médio nas escolas públicas nos municípios da Amazônia Paraense.</p>
                
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                        <strong>Proponentes:</strong> 
                            <p>
                                Prof Dr Afonso Nascimento  -  UFPA/CAMPUS ABAETETUBA<br>
                                Prfa Ms Socorro Vasconcelos  –  SEDUC - PA <br>
                                Profa Ms Bárbara  Cardoso  - SEMEC/ABAETETUBA – PA<br>
                                Discente:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
           
               <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>02</h2>
            </div>
            <div class="col-md-9">
                <h3> O ENSINO DE EDUCAÇÃO DE JOVENS E ADULTOS  EM PROGRAMAS E PROJETOS:  A EXPERIÊNCIA DO ZÉ PEÃO E  DO MOVA BRASIL</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p style="text-align: justify;"><strong>Ementa:</strong>
                        </p>
                        
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                        <strong>Proponentes:</strong> 
                            <p>
                                 Prof. Dr. Eduardo Jorge Lopes da Silva<br>
                                 Profª. Me. Lívia Sonalle do Nascimento Silva<br>
                                 Discente: Paulo da Cruz Santana<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>03</h2>
            </div>
            <div class="col-md-9">
                <h3> LA INVESTIGACIÓN EN EL CAMPO DA TECNOLOGIA AL SERVICIO DE LA DEMOCRACIA Y LA EDUCACION</h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p style="text-align: justify;"><strong>Ementa:</strong> </p>
                      
                        
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                        <strong>Proponentes:</strong> 
                            <p>
                                Profa Dra Sandra Meza  - Universidade Nacional do Chile<br>
                                Prof. Dr. Miguel Dias – UNILAB/Brasil<br>
                                Prof. Dr. Marcelo Pultiniks (UFSM)<br>
                                Discente:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             
    
             <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>04</h2>
            </div>
            <div class="col-md-9">
                <h3>RELATOS DE EXPERIÊNCIAS, VIVÊNCIAS E PESQUISA NA EDUCAÇÃO INFANTIL (IV SEMAP) </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p style="text-align: justify;"><strong>Ementa:</strong>  </p>
                      
                      
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                        <strong>Proponentes:</strong> 
                            <p>
                                Profa Dra Ciclene Alves da Silva (Coordenação)<br>
                                Profa. Ma. Helena Perpetua de Aguiar Ferreira (Coordenadora Geral do PARFOR/UERN) - Ser professor da Educação Infantil <br>
                                Profa. Dra. Gilcelene Lélia Souza do Nascimento (Brasil) - Experiências escolares vividas por crianças do campo de Trabalho na Educação Infantil: uma possibilidade<br>
                                Profa. Ma. Lívia Sonalle do Nascimento (UERN/ Brasil) - Concepções e prática da Educação Infantil<br>
                                Discente: Josenilda Pinheiro de Melo Oliveira (Aluna do PARFOR Pedagogia) – Projetos

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>05</h2>
            </div>
            <div class="col-md-9">
                <h3>AS POLITICAS EDUCACIONAIS NAS CIDADES E NOS CAMPOS DA AMAZÔNIA PARAENSE: CONTRIBUIÇÕES AOS PROCESSOS EDUCATIVOS FORMAIS E TÉCNICOS </h3>
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <p style="text-align: justify;"><strong>Ementa:</strong>  </p>
                      
                      
                    </div>

                    <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                        <strong>Proponentes:</strong> 
                            <p>
                                Prof. Dr. Alexandre Cals e Souza – UFPA/Abaetuba<br>
                                Profa Mnda Aline Gonçalves Batista da Silva – IFPA/ Campus Abaetuba<br>
                                Discente: Fellipe da Silva Paiva (UFPA)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock %}