{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/BACK.jpg' %}">
		<div class="container">
			<h1 class="h1">Normas mesas-redondas</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>Regra Geral</h3>
			<p>As mesas redondas serão desenvolvidas em torno da temática do X FIPED: <strong>"10 anos de AINPGP/FIPED: pesquisa, memória e internacionalização".</strong> Com base na perspectiva interdisciplinar, temas variados poderão ser descortinados, de modo que a proposição de mesa redonda terá de ser realizada mediante os seguintes pré-requisitos: um professor (a) doutor (a), um (a) aluno (a) da graduação, um terceiro participante profissional da educação, de preferência de IES distintas. 
			</p>
			
			
		</div>
	</div>
</div>

		<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">02</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Importante</h3>
				<ul>
					<li>Serão bem-vindas as propostas advindas de docentes vinculados a Programas de Pós-graduação stricto sensu (mestrado e doutorado) do Brasil e Exterior.</li>
					<li>Dado o atual contexto financeiro não serão oferecidas ajuda de custo, hospedagens e alimentação para os proponentes de propostas aprovadas.</li>
					<li>As IES parceiras, naturalmente, terão prioridade na oferta de mesas, obedecendo critérios elencados.</li>
					
				</ul>
			</div>
		</div>
	</div>

<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}