{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/normasparatrabalhosdecomunicacaooral.jpg' %}">
		<div class="container">
			<h1 class="h1"></h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>Da participação</h3>
			<p>Cada participante poderá participar de no máximo 1 (UMA) oficina de pesquisa, e desde que hajam vagas disponíveis. Orientamos acompanhar a lotação/ inscrição das mesmas no <i>site</i>.
			</p>
			
			
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}