{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/normasdeproposicaodeoficinadepesquisa.jpg' %}">
		<div class="container">
			<h1 class="h1"></h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->





<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>Da modalidade</h3>
			<p>As oficinas de Pesquisa destinada para a Graduação devem ser submetidas por Docentes, preferencialmente, em  coautoria com pelo menos um aluno de graduação. As Oficinas destinadas à Pós-Graduação devem ser submetidas apenas por Docentes de Programas de Pós-Graduação de IES brasileira ou estrangeira, preferencialmente, em  coautoria com pelo menos um aluno de Pós-Graduação.
			</p>
			<p>As oficinas de pesquisa para graduação funcionam como espaços voltados para a elaboração de pré-projetos de pesquisa, oferecendo diretrizes e apresentando possibilidades de questões investigativas, a partir das temáticas específicas, vinculadas aos GTs propostos no X FIPED, objetivando mostrar as possibilidades de pesquisa e a instrumentalização necessária para realizá-la.</p>
			<p>As Oficinas de Pesquisas destinada a estudantes da Pós-Graduação se constituem oportunidades para que os estudantes vinculados a programas se apropriem de temáticas que ampliem o seu campo de investigação, estabeleça reflexões acerca de novos objetos de estudos, envolvendo metodologias e instrumentos de pesquisa, bem como questões éticas, dentre outros temas ofertados, podendo, a critério dos Programas contar até um crédito.</p>
			
		</div>
	</div>
</div>



<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2 class="display-1">02</h2>
		</div>
		<div class="col-md-10 col-sm-9 ">
			<h3>Do envio</h3>
			<p>A proposição de oficinas de pesquisa deverá ser enviada no formulário de inscrição online, estando o proponente atento ao registro de sua especificidade (se para graduação ou para pós-graduação, sendo este último apenas a docentes credenciados em Programas). Após o envio, aguardar a confirmação de recebimento, via e-mail.</p>


		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">03</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Do formato</h3>
				<p> As oficinas terão a seguinte duração:</p>
				<ul>
				<li>Graduação: 8 horas.</li> 
				<li>Pós-graduação: 15h/a (correspondente a 1 crédito).</li>  
				<p> A proposição terá 01 lauda, será digitada no Word for Windows (7.0 ou mais atual), fonte Times New Roman, tamanho 12, espaço  simples e  alinhamento  justificado. As propostas em língua portuguesa devem obrigatoriamente seguir as normas da ABNT, sendo em língua estrangeira ficará critério dos autores a utilização das normas da APA. Deve-se evitar o uso de notas de rodapé, sendo a revisão textual de responsabilidade do (a) autor (a) e coautores (as).</p>
				</ul>

				<p>O corpo da proposta deverá constar:</p>
				<ul>
					<li>O título da proposição da oficina deve vir em letra maiúscula, negrito, alinhamento centralizado, em Times New Roman, tamanho 12, seguido do nome do (a) autor (a) e coautores (as) com apenas as iniciais em maiúsculas. Abaixo de cada autoria/coautoria, terão de ser registradas suas respectivas funções, instituição (ões) e e-mail, com alinhamento à direita, tamanho 11 e em espaçamento simples. O título terá ainda de indicar “Oficina de Pesquisa (evidenciando sua especificidade - graduação ou pós-graduação) em: elucidar a temática”, de acordo com o GT a qual pertencerá;</li>
					<li>Ementa com a proposição dos conteúdos (com 150 a 200 palavras);</li>
					<li>Objetivos (geral e específicos); (iv) Procedimentos metodológicos adotados;</li>
					<li>Prováveis produtos: espera-se que os participantes possam elaborar um pré-projeto de pesquisa (individual ou em grupo);</li>
					<li>Limite do número de participantes para a oficina;</li>
					<li> Referências.</li>
				</ul>  

				
			</div>
		</div>
	</div>


	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">04</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Do envio dos trabalhos para GTS e da Autoria (autor/a e coautor/a)</h3>
				<p>As oficinas de pesquisa poderão ser propostas com até 4 (quatro) participantes, sendo um autor (a) e 3 (três) coautores (as), todos devidamente inscritos no evento, com o pagamento da taxa de inscrição efetivada. Cada participante poderá propor no máximo 2 (duas) oficinas de pesquisa, sendo uma como autor (a) e outra como coautor (a). Caberá ao autor (a) principal submeter a proposição das oficinas de pesquisa, no formulário de inscrição online e em papel timbrado, conforme o modelo disponibilizado no site do evento para download, indicando o nome dos coautores (as). Caso esse procedimento não seja seguido, não será possível a inserção posterior e os nomes não constarão no certificado de ministrante de oficina.</p>
				<li>Importante : Recordamos que é preciso estar atento (a) ao prazo para a proposição de oficinas, pois só serão ofertadas 30 no evento.</li>

				<a href="/static/PAPEL_TIMBRADO_FIPED.docx" class="btn btn-default">Baixar papel timbrado</a>

			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Do desenvolvimento</h3>
				<p>No dia, local e horário estipulados, pelo menos um dos componentes da autoria (autor/a ou coautor/a) deverá estar presente para desenvolver o trabalho no tempo estipulado (8 horas para pesquisa em graduação/ 15h/a para pós-graduados). Para o desenvolvimento das oficinas, está prevista a utilização de projetor multimídia que será ofertado pela organização do X FIPED para aqueles que dele farão uso.  Demais materiais serão da responsabilidade dos proponentes (autor/a e coautor/a).
				</p>
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Importante</h3>
				<ul>
					<li>Cada oficina deverá estar vinculada a apenas um dos GTs, reservando-se à comissão científica do evento o direito de reclassificar a área temática.</li>
					<li>A proposição da oficina de pesquisa receberá a avaliação de aprovada ou reprovada, não havendo para essa modalidade de trabalho o quesito “correção”.</li>
					<li>Não será permitida a inserção de participantes na plataforma online após a submissão das oficinas, sejam eles autores (as) ou coautores (as).</li>
					<li>Recomenda-se que todas as proposições de oficinas de pesquisa para graduação sejam cuidadosamente revisadas antes da submissão. Oficinas que estiverem fora do âmbito da pesquisa, da proposição da construção de um pré-projeto de pesquisa e das normas do X FIPED, serão automaticamente desclassificadas.</li>
				</ul>
			</div>
		</div>
	</div>

<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}