{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section id="pagina1">
    <div class="container-fluid">
        <h1>Pagina 1</h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</section>

<section id="pagina2">
    <div class="container-fluid">
        <h1>Pagina 2</h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</section>

<section id="pagina3">
    <div class="container-fluid">
        <h1>Pagina 3</h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</section>

<section id="pagina4">
    <div class="container-fluid">
        <h1>Pagina 4</h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</section>

<section id="pagina5">
    <div class="container-fluid">
        <h1>Pagina 5</h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</section>

{% endblock %}