[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0,<2.1"
mysqlclient = "==1.3.12"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
cbvadmin = {git = "https://github.com/roldaojr/cbvadmin"}
cbvadmin-semantic-ui = {git = "https://github.com/roldaojr/cbvadmin-semantic-ui"}
pillow = "*"
django-localflavor = "*"
django-registration-redux = "*"
pyaml = "*"
django-extra-views = "*"
django-dynamic-preferences = "*"
django-choices = "*"
faker = "*"
factory-boy = "*"
"django-select2" = "*"
django-sfp = "*"
django-paypal = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3"

[scripts]
server = "python manage.py runserver"
test = "python manage.py test"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
