{% extends 'cbvadmin/semantic-ui/base_site.html' %}
{% load i18n %}

{% block title %}Visualizar trabalho{% endblock %}

{% block content %}
{% block actions %}
<div class="ui mobile only fluid">
  {% if admin.urls.edit %}
  <div class="ui two fluid buttons">
    <div class="ui labeled icon top left floating pointing dropdown positive avaliar 
    button">
      <i class="thumbs up icon"></i>
      Aprovar
      <div class="avaliar menu">
        <div data-value="1" class="item">Sem correções</div>
        <div data-value="3" class="item">Com correções</div>
      </div>
    </div>
    <div class="ui labeled icon top right floating pointing dropdown negative avaliar 
    button">
      <i class="thumbs down icon"></i>
      Reprovar
      <div class="avaliar menu">
        <div data-value="2" class="item">Confirmar</div>
      </div>
    </div>
  </div>
  <a href="{% url admin.urls.edit object.pk %}" class="ui primary fluid button">
    <i class="plus icon"></i> Alterar
  </a>
  {% endif %}
</div>
<div class="ui secondary mobile hidden menu">
  <div class="ui right item">
    {% if admin.urls.edit %}
    <div class="ui buttons">
      <div class="ui labeled icon floating pointing dropdown positive avaliar 
      button">
        <i class="thumbs up icon"></i>
        Aprovar
        <div class="avaliar menu">
          <div data-value="1" class="item">Sem correções</div>
          <div data-value="3" class="item">Com correções</div>
        </div>
      </div>
      <div class="ui labeled icon floating pointing dropdown negative avaliar 
      button">
        <i class="thumbs down icon"></i>
        Reprovar
        <div class="avaliar menu">
          {% csrf_token %}
          <div data-value="2" class="item">Confirmar</div>
        </div>
      </div>
    </div>
    <a href="{% url admin.urls.edit object.pk %}" class="ui primary button">
      <i class="pencil icon"></i> Alterar
    </a>
    {% endif %}
    {% if admin.urls.add and object.situacao == 3 %}
    <a href="{% url admin.urls.reenviar object.pk %}" class="ui secondary button">
      <i class="send icon"></i> Reenviar arquivo
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

<table class="ui definition unstackable table">
  <tr>
    <td>Modalidade</td>
    <td>{{ object.modalidade }}</td>
  </tr>
  <tr>
    <td>Título</td>
    <td>{{ object.titulo }}</td>
  </tr>
  <tr>
    <td>Autor</td>
    <td>{{ object.autor }}</td>
  </tr>
  <tr>
    <td>Co-autores</td>
    <td>
      {{ object.coautor1|default:'-' }}
      {{ object.coautor2|default:'' }}
      {{ object.coautor3|default:'' }}
    </td>
  </tr>
  <tr>
    <td>Área/tema</td><td>{{ object.area_tema }}</td>
  </tr>
  <tr>
    <td>Arquivo</td><td><a href="{{ object.arquivo.url }}">{{ object.arquivo }}</a></td>
  </tr>
  <tr>
    <td>Situação</td>
    <td>
      <div class="ui {% spaceless %}
      {% if object.situacao == 1 %}
        green
      {% elif object.situacao == 2 %}
        red
      {% elif object.situacao == 3 %}
        orange
      {% else %}
        grey
      {% endif %}
      {% endspaceless %} label">
        {{ object.get_situacao_display }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Observações</td><td>{{ object.observacoes|default:'-'|linebreaksbr }}</td>
  </tr>
</table>
{% endblock %}

{% block extrascript %}
<div class="ui modal" id="corrgir_modal">
  <div class="header">Aprovar com correções</div>
  <div class="content ui form">
    <form method="post" id="aprovar_form" action="{% url admin.urls.avaliar object.pk %}">
      {% csrf_token %}
      <input type="hidden" name="situacao">
      <div class="field">
        <textarea name="observacoes"></textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <button type="submit" class="ui green corrgir button">Aprovar</button>
  </div>
</div>
{{ block.super }}
{{ form.media.js }}
<script type="text/javascript">
$(".avaliar.button").dropdown()
$(".avaliar.menu .item").click(function(e){
  val = $(this).data('value')
  $("#aprovar_form input[name=situacao]").val(val)
  if(val == 3) {
    $("#corrgir_modal").modal('show')
  } else {
    $("#aprovar_form textarea").text("")
    $("#aprovar_form").submit()
  }
})
$(".corrgir.button").click(function(e) {
  $("#aprovar_form").submit()
})
</script>
{% endblock %}
