{% extends 'cbvadmin/semantic-ui/base_site.html' %}

{% block title %}Inscrever-se em {{ view.admin.model_opts.verbose_name_plural }}{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="ui error message">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>
{% else %}
{% if view.admin.max_inscriccoes %}
<div class="ui warning message">
  Você deve selecionar no máximo {{ view.admin.max_inscriccoes }} oficina(s)
</div>
{% endif %}
{% endif %}
<form method="post" class="ui form">
  {% csrf_token %}
  <button type="submit" class="ui primary button">Salvar</button>
  <table class="ui table">
    <thead>
      <tr>
        <th></th>
        <th>Oficina</th>
       
        {% if view.admin.limitar_vagas %}
        <th>Vagas</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for choice in form.atividades.field.queryset %}
      <tr>
        <td class="collapsing">
          {% spaceless %}
          {% if choice.pk in form.atividades.value or choice.pk|slugify in form.atividades.value %}
          <div class="ui fitted toggle checkbox">
            <input name="atividades" id="id_oficinas_{{ choice.pk }}" value="{{ choice.pk }}" type="checkbox" checked="checked">
            <label></label>
          </div>
          {% else %}
          {% if choice.vagas_restantes > 0 or not view.admin.limitar_vagas %}
          <div class="ui fitted toggle checkbox">
            <input name="atividades" id="id_oficinas_{{ choice.pk }}" value="{{ choice.pk }}" type="checkbox">
            <label></label>
          </div>
          {% endif %}
          {% endif %}
          {% endspaceless %}
        </td>
        <td>{{ choice.nome }}</td>
        
        {% if view.admin.limitar_vagas %}
        <td {% if choice.vagas_restantes == 0%} class="negative"{% endif %}>{{ choice.vagas_restantes }}</td>
        {% endif %}
      </tr>
    {% empty %}
    <tr>
      <td colspan="3">Nenhuma oficina disponível</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="ui primary button">Salvar</button>
</form>
{% endblock %}
