{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/mesas_redondas.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


<div class="container un-mtb-5">
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-01
				</h2>
			</div>
			<div class="col-md-9">
				<h3>"A pesquisa na formação de professores"</h3>
				<ul>
					<li>Profa Dra Isabel Maria Pimenta Henriques Freire –Portugal (Instituto de Educação/Universidade de Lisboa); </li>
					<li>Profa Dra Sheyla Maria Fontenele Macedo – Brasil (UERN); </li>
					<li>Discente Lídia Rafaela Alves Batista – Brasil (UERN); </li>
				</ul>
				<div><strong>Coordenador(a): Em Breve</strong> </div>
				<div><strong>Local: Em Breve.</strong> </div>
				<div><strong>Data/Horário: 29/11/2018 8h às 11:30</strong> </div>
			</div>
		</div>
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-02 
				</h2>
			</div>
			<div class="col-md-9">
				<h3>“La investigación en el campo da tecnologia al servicio de la democracia y la educacion”</h3>
				<ul>
					<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile); </li>
					<li>Prof. Dr. Miguel Dias – Brasil (Universidade da Integração Internacional da Lusofonia Afro-Brasileira– UNILAB); </li>
					<li>Prof. Dr. Marcelo Pultiniks – Brasil (Universidade Federal de Santa Maria/ UFSM); </li>
					<li>Discente (UERN); </li>
				</ul>
				<div><strong>Coordenador(a): Em Breve</strong> </div>
				<div><strong>Local: Em Breve</strong> </div>
				<div><strong>Data/Horário: 30/11/2018 8h às 11:30</strong> </div>
			</div>
		</div>
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-03</h2>
			</div>
			<div class="col-md-9">
				<h3> Mesa redonda IV SEMAP: “Relatos de Experiências, Vivências e Pesquisa na Educação Infantil”</h3>
				<ul>
					<li>Ser professor da Educação Infantil: Profa. Ma. Helena Perpetua de Aguiar Ferreira (Coordenadora Geral do PARFOR/UERN); </li>
					<li>Projetos de Trabalho na Educação Infantil: uma possibilidade: Josenilda Pinheiro de Melo Oliveira (Aluna do PARFOR Pedagogia); </li>
					<li>Concepções e prática da Educação Infantil: Profa. Ma. Lívia Sonalle do Nascimento; </li>
					<li>Experiências escolares vividas por crianças do campo: Profa. Dra. Gilcelene Lélia Souza do Nascimento; </li>
				</ul>
				<div><strong>Coordenador(a): Ciclene Alves da Silva </strong></div>
				<div><strong>Local Em Breve:</strong> </div>
				<div><strong>Data/Horário: 30/11/2018 8h às 11:30</strong> </div>
			</div>
		</div>
	</div>


<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}