{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/.png' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">Programação / Mesas-redondas</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


<div class="container un-mtb-5">
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-01</h2>
			</div>
			<div class="col-md-9">
				<h3>EDUCAÇÃO INFANTIL NO CONTEXTO CONTEMPORÂNEO: reflexões sobre a criança, o currículo e a formação docente.</h3>
				<ul>
					<li>Prof. Dr. Marcus Vinícius Fonseca (UFOP); </li>
					<li>Profa. Me. Surya Aaronovich Pombo Barros (UFPB); </li>
					<li>Prof. Dr. Carlos Benedito Rodrigues da Silva (UFMA); </li>
					<li>Prof. Dr. Fernando Tavares (UNILAB-BA); </li>
				</ul>
				<div><strong>Coordenador(a):</strong> Profa. Dra. Mariléia Santos Cruz da Silva (UFMA);</div>
				<div><strong>Organizador (A):</strong> Profa. Dra. Herli de Sousa Carvalho (UFMA);</div>
				<div><strong>Local:</strong> Auditório da Faculdade Santa Teresinha – FEST</div>
				<div><strong>Endereço:</strong> Avenida Perimetral Castelo Branco, nº 481, Parque Anhanguera</div>
			</div>
		</div>
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-02</h2>
			</div>
			<div class="col-md-9">
				<h3>ARTE/EDUCAÇÃO (Música, Artes Visuais, Dança e Teatro)</h3>
				<ul>
					<li>Prof. Dr. Marcus Vinícius Fonseca (UFOP); </li>
					<li>Profa. Me. Surya Aaronovich Pombo Barros (UFPB); </li>
					<li>Prof. Dr. Carlos Benedito Rodrigues da Silva (UFMA); </li>
					<li>Prof. Dr. Fernando Tavares (UNILAB-BA); </li>
				</ul>
				<div><strong>Coordenador(a):</strong> Profa. Dra. Mariléia Santos Cruz da Silva (UFMA);</div>
				<div><strong>Organizador (A):</strong> Profa. Dra. Herli de Sousa Carvalho (UFMA);</div>
				<div><strong>Local:</strong> Auditório da Faculdade Santa Teresinha – FEST</div>
				<div><strong>Endereço:</strong> Avenida Perimetral Castelo Branco, nº 481, Parque Anhanguera</div>
			</div>
		</div>
			<div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
			<div class="col-md-3 text-right">
				<h2>MR-03</h2>
			</div>
			<div class="col-md-9">
				<h3>A HISTÓRIA DA EDUCAÇÃO DOS NEGROS NO BRASIL: Historiografia e Práticas Educativas.</h3>
				<ul>
					<li>Prof. Dr. Marcus Vinícius Fonseca (UFOP); </li>
					<li>Profa. Me. Surya Aaronovich Pombo Barros (UFPB); </li>
					<li>Prof. Dr. Carlos Benedito Rodrigues da Silva (UFMA); </li>
					<li>Prof. Dr. Fernando Tavares (UNILAB-BA); </li>
				</ul>
				<div><strong>Coordenador(a):</strong> Profa. Dra. Mariléia Santos Cruz da Silva (UFMA);</div>
				<div><strong>Organizador (A):</strong> Profa. Dra. Herli de Sousa Carvalho (UFMA);</div>
				<div><strong>Local:</strong> Auditório da Faculdade Santa Teresinha – FEST</div>
				<div><strong>Endereço:</strong> Avenida Perimetral Castelo Branco, nº 481, Parque Anhanguera</div>
			</div>
		</div>
	</div>


<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}