{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" style="background-image: url(&quot;http://www.ainpgp.org/fiped/x/assets/img/qf-programacao.jpg&quot;);">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">Programação</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
	<div class="heading text-center">
		<h2>PROGRAMAÇÃO PROVISÓRIA DO X FIPED</h2>
	</div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018  - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min </td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							<li>Atividades integradoras</li>
							<li>Encontro interinstitucional entres os programas de IES brasileiras e estrangeiras</li>
							
						</ul>
					</td>
					
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>



			<table class="table table-bordered wow slideInRight" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 - VESPERTINO</strong></td>
				</tr>
			
				<tr>
					<td>13h às 17h</td>
					<td>GT’s (16 grupos)</td>
				</tr>
		
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">

				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul><li>Solenidade de abertura (UERN, UFERSA, IFRN e FACEP)</li>
							<li>Mesa de abertura: “Pesquisa na graduação em tempos de internacionalização do conhecimento”</li>
							<ul>
							<li>Prof. Dr. Valdir Heitor Barzotto (USP/Presidente de honra da AINPGP)</li>
							<li>Prof. Dr. Rui Trindade (Universidade do Porto/Portugal)</li>
							<li>Profa Dra Cristiane Maria Nepomuceno (Presidente da AINPGP/UEPB)</li> 
							<li>Profa Dra. Maria Lúcia Pessoa Sampaio (Fundadora do FIPED-AINPGP/UERN)</li>
							<li>Discente José Mário de Souza (UERN)</li>
							</ul>
						</ul>
					</td>
				</tr>
				
				
			
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 - MATUTINO)</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesas internacionais – coordenadores de edições anteriores dos FIPEDs</li>
							<li>Lançamento de livros</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						GT’s [15 GTs]
					</td>
				</tr>
				
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa  intercontinental: “10 anos de AINPGP/FIPED: da difusão da interiorização no FIPED à internacionalização da AINPGP</li>
							<ul>
							<li>Profa Dra. Cristiane Nepomuceno  - Brasil</li>
							<li>Prof. Dr. Pedro González - Portugal</li>
							<li>Prof. Me. Luís Rodrigues – Cabo Verde</li>
							<li>Prof. Me Rey Jesus Galdino – México</li>
							<li>Profa Dra Sandra Meza  - Chile</li>
							</ul>
							<li>Atividades integradoras</li>
							<li>Lançamento de Livros</li>
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>3º DIA 29/11/2018 (QUINTA-FEIRA)</strong></td>
				</tr>
				
				
				<tr>
					<td>08 h às 17h</td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>
				<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 - MATUTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesa redonda: "A pesquisa na formação de professores"</li>
							<ul>
								<li>Profa Dra Isabel Maria Pimenta Henriques Freire – Universidade de Lisboa</li>
								<li>Profa Dra Sheyla Maria Fontenele Macedo – Brasil</li>
								<li>Discente Lídia Rafaela Alves Batista (UERN)</li>
							</ul>
							
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
			

				
			</tbody></table>


					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						<ul>
							<li>Oficinas de Pesquisa para Graduação</li>
							<li>Oficinas de Pesquisas para Pós-Graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>5ª Quinta Cultural</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>4º DIA 30/11/2018 (SEXTA-FEIRA)</strong></td>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018  - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesa redonda: “La investigación en el campo da tecnologia al servicio de la democracia y la educacion”Profa Dra Sandra Meza  - Universidade Nacional do Chile</li>
<li>Oficinas para pós-graduação</li>
						<ul>
							<li>Prof. Dr. Miguel Dias – UNILAB/Brasil</li>
							<li>Prof. Dr. Marcelo Pultiniks (UFSM)</li>
							<li>Discente (UERN)</li>
						</ul>
							
						</ul>
					</td>
				</tr>

				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 - VESPERTINO</strong></td>
				</tr>
				
				<tr>
					<td>13h30min às 15h30min</td>
					<td>
						<ul>
							<li>Oficinas de Pesquisa para Graduação</li>
							<li>Oficinas de Pesquisas para Pós-Graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				<tr>
				<td>15h30 às 17h30min</td>
					<td>
						<ul>
							<li>ASSEMBLEIA DA AINPGP</li>
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa de Encerramento</li>
							
						</ul>
					</td>
				</tr>
				
				
			</tbody></table>
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}