{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/PROGRAMAÇAO.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">PROGRAMAÇÃO</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
	<div class="heading text-center">
		<h2>PROGRAMAÇÃO PROVISÓRIA DO X FIPED</h2>
	</div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min </td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							<li>Atividades integradoras</li>
							<li>Encontro interinstitucional entres os programas de IES brasileiras e estrangeiras</li>
							
						</ul>
					</td>
					
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>



			<table class="table table-bordered wow slideInRight" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - VESPERTINO</strong></td>
				</tr>
			
				<tr>
					<td>13h às 17h</td>
					<td>GT’s (16 grupos)</td>
				</tr>
		
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">

				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul><li>Solenidade de abertura (UERN, UFERSA, IFRN e FACEP)</li>
							<li>Mesa de abertura: “Pesquisa na graduação em tempos de internacionalização do conhecimento”</li>
							<ul>
							<li>Prof. Dr. Valdir Heitor Barzotto – Brasil (USP/Presidente de honra da AINPGP)</li>
							<li>Prof. Dr. Rui Trindade – Portugal (Universidade do Porto/ U.Porto)</li>
							<li>Profa Dra Cristiane Maria Nepomuceno – Brasil (UEPB/ Presidente da AINPGP)</li> 
							<li>Profa Dra. Maria Lúcia Pessoa Sampaio – Brasil (UERN/Fundadora do FIPED-AINPGP/UERN)</li>
							<li>Discente José Mário de Souza – Brasil (UERN)</li>
							</ul>
						</ul>
					</td>
				</tr>
				
				
			
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - MATUTINO)</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesas internacionais – coordenadores de edições anteriores dos FIPEDs</li>
							<li>Lançamento de livros</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						GT’s [15 GTs]
					</td>
				</tr>
				
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa intercontinental: “10 anos de AINPGP/FIPED: da difusão da interiorização no FIPED à internacionalização da AINPGP</li>
							<ul>
							<li>Profa Dra. Cristiane Nepomuceno - Brasil (UEPB/ Presidente da AINPGP)</li>
							<li>Prof. Dr. Pedro González – Portugal (Universidade dos Açores)</li>
							<li>Prof. Me. Luís Rodrigues – Cabo Verde (Universidade de Santiago)</li>
							<li>Prof. Me Rey Jesus Galdino – México (Universidade do México)</li>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							</ul>
							<li>Atividades integradoras</li>
							<li>Lançamento de Livros</li>
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>3º DIA 29/11/2018 (QUINTA-FEIRA)</strong></td>
				</tr>
				
				
				<tr>
					<td>08 h às 17h</td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>
				<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesa redonda: "A pesquisa na formação de professores"</li>
							<ul>
								<li>Profa Dra Isabel Maria Pimenta Henriques Freire –Portugal (Instituto de Educação/Universidade de Lisboa)</li>
								<li>Profa Dra Sheyla Maria Fontenele Macedo – Brasil (UERN)</li>
								<li>Discente Lídia Rafaela Alves Batista – Brasil (UERN)</li>
							</ul>
							
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
			

				
			</tbody></table>


					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						<ul>
							<li>Oficinas de pesquisa para graduação</li>
							<li>Oficinas de pesquisas para pós-graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>5ª Quinta Cultural</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>4º DIA 30/11/2018 (SEXTA-FEIRA)</strong></td>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA)  - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesa redonda: “La investigación en el campo da tecnologia al servicio de la democracia y la educacion”</li>
						<ul>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							<li>Prof. Dr. Miguel Dias – Brasil (Universidade da Integração Internacional da Lusofonia Afro-Brasileira– UNILAB)</li>
							<li>Prof. Dr. Marcelo Pultiniks – Brasil  (Universidade Federal de Santa Maria/ UFSM)</li>
							<li>Discente (UERN)</li>
						</ul>
						<li>Oficinas para pós-graduação</li>
						<li>Mesa redonda IV SEMAP: “Relatos de experiências, vivências e pesquisa na educação infantil”

						<p>Coordenação: Ciclene Alves da Silva</p>
						<p>Temáticas e palestrantes:</p>
						<ul> 
							<li>Ser professor da educação infantil: Profa. Ma. Helena Perpetua de Aguiar Ferreira (coordenadora geral do PARFOR/UERN)</li>
							<li>Projetos de trabalho na educação infantil: uma possibilidade: Josenilda Pinheiro de Melo Oliveira (aluna do PARFOR Pedagogia)</li>
							<li>Concepções e prática da educação infantil: Profa. Ma. Lívia Sonalle do Nascimento</li>
							<li>Experiências escolares vividas por crianças do campo: Profa. Dra. Gilcelene Lélia Souza do Nascimento</li>
						</ul>
						</li>
							
						</ul>
					</td>
				</tr>

				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				<tr>
					<td>13h30min às 15h30min</td>
					<td>
						<ul>
							<li>Oficinas de pesquisa para graduação</li>
							<li>Oficinas de pesquisas para pós-graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				<tr>
				<td>15h30 às 17h30min</td>
					<td>
						<ul>
							<li>ASSEMBLEIA DA AINPGP</li>
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa de encerramento</li>
							
						</ul>
					</td>
				</tr>
				
				
			</tbody></table>
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}