{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/PROGRAMAÇAO.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">PROGRAMAÇÃO</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
	<div class="heading text-center">
		<h2>PROGRAMAÇÃO PROVISÓRIA DO X FIPED</h2>
	</div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min </td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							<li>Atividades integradoras</li>
							<ul>
								<li>Exposição de material pedagógico – Profa Andreza Felix (Departamento de Geografia)</li>
								<li>Banda de Sucata – Profa Anne Waleska</li>
								<li>Peça "Felipe pantomima" - Curso Educação Física
								Responsáveis: Profa Ma. Maria Eridan da Silva dos Santos, Profa Ma Dandara Queiroga de Oliveira Sousa (UERN) e discente Maria
								Vanessa da Silva Barros (UERN)</li>
							</ul>
							<li>Encontros interinstitucionais entres os programas de IES brasileiras e estrangeiras (participação de docentes vinculados a programas
de pós-graduação de IES brasileiras e estrangeiras): Coordenação – Prof. Dr. Gilton Sampaio de Souza pelo Fórum de PósGraduação/UERN
</li>
<li>Oficialização da Rede Internacional Interdisciplinar de Pesquisadores em Desenvolvimento de Territórios (REDE-TER)</li>
<li>Direção do Campus e Coordenação do Fórum de Pós-Graduação e da Rede do CAMEAM/UERN:
<ul>
	<li>Prof. Me. Jailson José do Santos, Profa Dra Simone Cabral Marinho dos Santos e Profa Dra. Larissa da Silva Ferreira Alves</li>
	<li>Atividade integradora: “Jackson Johnson – voz e violão”</li>

</ul></li>
							
						</ul>
					</td>
					
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>



			<table class="table table-bordered wow slideInRight" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - VESPERTINO</strong></td>
					<td>LOCAL</td>
				</tr>
			
				<tr>
					<td>13h às 17h</td>
					<td><ul> Grupos de trabalhos (GTs):
							<li>GT 01-Pesquisa em ancestralidade, africanidades e relações étnico-raciais;</li>
							<li>GT 02 – cancelado pelos proponentes;</li>
							<li>GT 03 - Pesquisa em avaliação educacional;</li>
							<li>GT 04 - Pesquisa em educação do campo, movimentos sociais, direitos humanos;</li>
							<li>GT 05 - Pesquisa em Educação e estudos do discurso;</li>
							<li>GT 06 - Pesquisa em Educação Inclusiva;</li>
							<li>GT 07 - Pesquisa em Educação Infantil;</li>
							<li>GT 08 - Pesquisa em Educação Intercultural e para a diversidade;</li>
							<li>GT 09 - Pesquisa em memória e identidade;</li>
							<li>GT 10 - Pesquisa em ética, educação e cidadania;</li>
							<li>GT 11- Pesquisa em Ensino de Ciências Exatas e Naturais;</li>
							<li>GT 12 - Pesquisa em Ensino de História;</li>
							<li>GT 13 - Pesquisa em Ensino de leitura e literatura;</li>
							<li>GT 14 - Pesquisa em formação de professores, práticas pedagógicas, didáticas e currículo;</li>
							<li>GT 15 - Pesquisa em fundamentos da educação: filosofia, história, psicologia da educação e 
14
sociologia;</li>
							<li>GT 16
- Pesquisa em planejamento, gestão e políticas públicas educacionais
;</li>
	<li>GT 17
- Pesquisa em linguagens, letramento e alfabetização</li>
					</ul>

					</td>
				</tr>
		
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">

				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 20h30min</td>
					<td>
						<ul>Atividade integradora: 
							<li>Poeta Robson Renato</li>
						</ul>
						<ul>
							Composição de mesa de solenidade de abertura:
							<li>Prof. Dr. Pedro Fernandes Ribeiro Neto (Reitor da UERN)</li>
							<li>Prof. Me. Jailson José dos Santos (Diretor do CAMEAM)</li>
							<li>Prof. João Maria de Lima (Presidente da FAPERN)</li>
							<li>Profa Dra Cristiane Maria Nepomuceno (Presidente da AINPGP/UEPB) </li>
							<li>Profa Dra. Maria Lúcia Pessoa Sampaio (Presidente da Comissão Organizadora do X FIPED e
Fundadora do FIPED/AINPGP)</li>
							<li>Discente José Mário de Souza (UERN)</li>
							<li>Leonardo Nunes Rêgo (Prefeito de Pau dos Ferros)</li>
						</ul>

						<ul>Instituições na co-organização:
							<li>Prof. Dr. Ricardo Paulo Fonseca Melo (UFERSA)</li>
							<li>Profa. Esp. Antonia Francimar da Silva (IFRN)</li>
							<li>Profa. Ma. Genisa Lima de Souza Raulino (FACEP)</li>
						</ul>
						<ul>Convidados estrangeiros:
							<li>Profa Dra Isabel Maria Pimenta Henriques Freire
- Universidade de Lisboa/Portugal</li>
							<li>Prof. Dr. Pedro Francisco González
– Universidade de Açores/ Portugal</li>
							<li>Prof. Dr. Rui Eduardo Trindade Fernandes
– Universidade do Porto/ Portugal</li>
							<li>Prof. Dr. Luís Miguel Dias Caetano
– Portugal/UNILAB/Brasil</li>
							<li>Profa Dra Sandra Meza Fernández
– Universidade do Chile/Chile</li>
							<li>Prof. Me. Luís Filipe Martins Rodrigues
– Universidade de Santiago/Cabo Verde</li>
							<li>Prof. Manuel João António Alfredo
- Fundação Maria Carolina/Angola</li>
							<li>Prof. Dr. Constantin Xypas
– Universidade Católica da França/UERN</li>
							<li>Prof. Dr. Luís Tomás Domingos/ Moçambique/UNILAB/Brasil</li>
						</ul>
						
					</td>
				</tr>
				
				<tr>
					<td>20h30min às 22h</td>
					<td>
						<ul>
							<li><strong>Atividade integradora:</strong> Histórico do FIPED
– Por Eridan Santos</li>
							<li><strong>Mesa
-Redonda de abertura:</strong> “Pesquisa na graduação em tempos de internacionalização do
conhecimento”
<ul><li>Prof. Dr. Valdir Heitor Barzotto (USP/Presidente de honra da AINPGP)</li>
<li>Prof. Dr. Eduardo Trindade Fernandes (Universidade do Porto/Portugal)</li> 
</li>
						<li><strong>Atividade integradora:</strong>
Everaldo & Romeu e Julieta</li>
						</ul>
					</td>
				</tr>
				
			
			</tbody></table>



			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - MATUTINO)</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesas com ex-coordenadores dos FIPEDs, sob o tema: "<strong>10 anos de AINPGP/FIPED: pesquisa, memória e internacionalização</strong>", visam a dar conta dos seguintes objetivos específicos:
							<ul>
								<li>trazer à tona a memória de edições anteriores do FIPED, que tem a pesquisa como requisito essencial da formação do aluno de graduação;</li>
								<li>avaliar o papel e as ações da AINPGP, por intermédio do FIPED, para promoção e estímulo à pesquisa na graduação, nesses seus 10 anos de existência;</li>
								<li>apresentar uma agenda de discussões voltadas à difusão de interiorização e internacionalização do FIPED e ao planejamento de ações estratégicas para os rumos futuros da associação.</li>
							</ul>
							</li>
							<li>Lançamento de livros</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						GT’s [15 GTs]
					</td>
				</tr>
				
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa intercontinental: “10 anos de AINPGP/FIPED: da difusão da interiorização no FIPED à internacionalização da AINPGP</li>
							<ul>
							<li>Profa Dra. Cristiane Nepomuceno - Brasil (UEPB/ Presidente da AINPGP)</li>
							<li>Prof. Dr. Pedro González – Portugal (Universidade dos Açores)</li>
							<li>Prof. Me. Luís Rodrigues – Cabo Verde (Universidade de Santiago)</li>
							<li>Prof. Me Rey Jesus Galdino – México (Universidade do México)</li>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							</ul>
							<li>Atividades integradoras</li>
							<li>Lançamento de Livros</li>
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>3º DIA 29/11/2018 (QUINTA-FEIRA)</strong></td>
				</tr>
				
				
				<tr>
					<td>08 h às 17h</td>
					<td>
						<ul>
							<li>Recepção e credenciamento</li>
							
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>
				<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesas-redondas</li>
						
							
						</ul>
					</td>
				</tr>
				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
			

				
			</tbody></table>


					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td>13h30min às 17h</td>
					<td>
						<ul>
							<li>Oficinas de pesquisa para graduação</li>
							<li>Oficinas/Seminários de pesquisas para pós-graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>5ª Quinta Cultural</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>
					<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>4º DIA 30/11/2018 (SEXTA-FEIRA)</strong></td>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA)  - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td>8h às 11h30min</td>
					<td>
						<ul>
							<li>Mesa redonda: “La investigación en el campo da tecnologia al servicio de la democracia y la educacion”</li>
						<ul>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							<li>Prof. Dr. Miguel Dias – Brasil (Universidade da Integração Internacional da Lusofonia Afro-Brasileira– UNILAB)</li>
							<li>Prof. Dr. Marcelo Pultiniks – Brasil  (Universidade Federal de Santa Maria/ UFSM)</li>
							<li>Discente (UERN)</li>
						</ul>
						<li>Oficinas para pós-graduação</li>
						<li>Mesa redonda IV SEMAP: “Relatos de experiências, vivências e pesquisa na educação infantil”

						<p>Coordenação: Ciclene Alves da Silva</p>
						<p>Temáticas e palestrantes:</p>
						<ul> 
							<li>Ser professor da educação infantil: Profa. Ma. Helena Perpetua de Aguiar Ferreira (coordenadora geral do PARFOR/UERN)</li>
							<li>Projetos de trabalho na educação infantil: uma possibilidade: Josenilda Pinheiro de Melo Oliveira (aluna do PARFOR Pedagogia)</li>
							<li>Concepções e prática da educação infantil: Profa. Ma. Lívia Sonalle do Nascimento</li>
							<li>Experiências escolares vividas por crianças do campo: Profa. Dra. Gilcelene Lélia Souza do Nascimento</li>
						</ul>
						</li>
							
						</ul>
					</td>
				</tr>

				<tr>
					<td>11h30min às 13h30min</td>
					<td>
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				<tr>
					<td>13h30min às 15h30min</td>
					<td>
						<ul>
							<li>Oficinas de pesquisa para graduação</li>
							<li>Oficinas de pesquisas para pós-graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				<tr>
				<td>15h30 às 17h30min</td>
					<td>
						<ul>
							<li>ASSEMBLEIA DA AINPGP</li>
						</ul>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td>19h às 22h</td>
					<td>
						<ul>
							<li>Mesa de encerramento</li>
							
						</ul>
					</td>
				</tr>
				
				
			</tbody></table>
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}