{% extends "comum/base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{ minicurso.nome }}</h2>
    </div>

    <div class="row">
        {% if inscricao or pode_inscrever and tem_vagas %}
            <form method="post" action="{% url 'minicursos:inscricao' minicurso.pk %}">{% csrf_token %}
            <div class="col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
            {% if inscricao %}
                <input type="hidden" name="cancelar" value="true"/>
                <button class="btn btn-block btn-lg btn-danger" type="submit">
                {% if inscricao.espera %}Cancelar Espera{% else %}Cancelar Inscrição{% endif %}
                </button>
            {% else %}
                {% if minicurso.tem_vagas_disponiveis %}
                <button class="btn btn-block btn-lg btn-success" type="submit">Inscrever-se</button>
                {% else %}
                <input type="hidden" name="espera" value="true"/>
                <button class="btn btn-block btn-lg btn-success" type="submit">Entrar na Lista de Espera</button>
                {% endif %}
            {% endif %}
            </div>
            </form>
        {% else %}
            {% if pode_inscrever %}
            <div class="alert alert-info">
                Não há mais vagas disponiveis!
            </div>
            {% else %}
            <div class="alert alert-warning text-left">
                Você só pode se inscrever em {{ inscricao_maximimo }} minicurso(s)
            </div>
            {% endif %}
        {% endif %}
    </div>

    <ul class="list-group">
        <li class="row list-group-item">
            <div class="col-md-2">
                <b>Hor&aacute;rio</b>
            </div>
            <div class="col-md-10">
                {% for horario in minicurso.horarios.all %}
                    <div>{{ horario }}</div>
                {% endfor %}
            </div>
        </li>
        <li class="row list-group-item">
            <div class="col-md-2"><b>Local</b></div>
            <div class="col-md-10">{{ minicurso.local|default:'A definir' }}</div>
        </li>
        {% if minicurso.descricao %}
        <li class="row list-group-item">
            <div class="col-md-2"><b>Descrição</b></div>
            <div class="col-md-10">{{ minicurso.descricao|default:'&nbsp;' }}</div>
        </li>
        {% endif %}
        {% if minicurso.pre_requisitos %}
        <li class="row list-group-item">
            <div class="col-md-2"><b>Pré-requisitos</b></div>
            <div class="col-md-10">{{ minicurso.pre_requisitos|default:'&nbsp;' }}</div>
        </li>
        {% endif %}
        {% if minicurso.ministrante %}
        <li class="row list-group-item">
            <div class="col-md-2"><b>Ministrante</b></div>
            <div class="col-md-10">
                <div class="list-group-item-heading">{{ minicurso.ministrante.nome }}</div>
                <div>{{ minicurso.ministrante.bio }}</div>
            </div>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}