{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/hopedagem.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">Hospedagem</h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->    

        <div class="col-md-12 text-center un-mtb-10-rem">
            <h2>Hotéis e Pousadas<br>
                <small>Veja onde se hospedar.</small>
            </h2>
        </div>

<div class="container un-mtb-5">
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Hertz Center Hotel</h3>
                         <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Av. Independência 1705, Centro, Pau dos Ferros<br>
CEP: 59900-000<br>
Fone: (84) 3351-2502</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                       
                    </div>
                </div>
            </div>
        </div>

         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Hotel Jatobá</h3>
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                BR-405, KM 01 s/n. Bairro: João XXIII - Pau dos Ferros 
<br>
CEP: 59900-000<br>
Fone: (84) 3351-2211</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        
                    </div>
                </div>
            </div>
        </div>
           
        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Pousada Mão Preta </h3>
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                                Rua Severino Rêgo 199, Bairro Paraíso - Pau dos Ferros  
<br>
CEP: 59900-000<br>
Fone: (84) 3351-4051</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        
                    </div>
                </div>
            </div>
        </div>




     <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Pousada do Anísio</h3>
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                            Av. Dinarte Mariz, 115, Centro – Pau dos Ferros 
<br>
CEP: 59900-000<br>
Fone: (84) 3351-2134 / (84) 3351-3807</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        
                    </div>
                </div>
            </div>
        </div>


     <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Pousada Nunes</h3>
                         <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                            Rua da Independência 812, Centro – Pau dos Ferros  
<br>
CEP: 59900-000<br>
Fone: (84) 3351-2057 / (84) 3351-2158</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                       
                    </div>
                </div>
            </div>
        </div>


             <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: hidden; animation-name: none;">
            <div class="col-md-3 text-right">
                <h2><i class="fas fa-hotel"></i></h2>
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col-md-7 un-mb-3">
                        <h3>Pousada Parque das Serras</h3>
                             <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>
                            Rua Doutor José Torquato de Figueiredo, s/n, Princesinha do Oeste – Pau dos Ferros 
<br>
CEP: 59900-000<br>
Fone: (84) 3351-4529</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                   
                    </div>
                </div>
            </div>
        </div>
   

</div>



<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{%endblock %}