{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    <!-- Banner Section Start -->
        <div id="banner" class="banner--section pd--80-0">
            <!-- Banner Slider Start -->
            <div class="banner--slider owl-carousel" data-owl-dots="true">
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/local.png' %}">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content col-md-8">
                                        <h1>Onde estamos? <strong>Localize-nos</strong></h1>

                                        <p>
                                            <address>
                                            <i>Endereço:</i> BR 405, KM 153
                                            <br>Bairro: Arizona – CEP: 59900-000
                                            <br>Pau dos Ferros-RN
                                        </address>
                                        </p>

                                        <a href="/sobre/como_chegar" class="btn btn-default">Como chegar</a>
                                    </div>
                                    <!-- Banner Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/banner_convidados.jpg' %}">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content col-md-6">
                                        
                                    </div>
                                     <div class="banner--content col-md-6">

                                        <h1>
                                        <strong></strong></h1>

                                        <p></p>

                                        
                                    </div>
                                    <!-- Banner Content End -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/banner2.jpg' %}">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content col-md-6">
                                        
                                    </div>
                                     <div class="banner--content col-md-6">

                                        <h1>Dia 27 a 30
                                         de novembro de 2018</h1>

                                        <p></p>

                                        <a href="{% url 'cbvadmin:login' %}" class="btn btn-default">Inscreva-se aqui</a>
                                    </div>
                                    <!-- Banner Content End -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/combo.jpg' %}">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content .col-xs-6 .col-md-10">
                                        
                                    </div>
                                     <div class="banner--content .col-xs-6 .col-md-2">

                                        <h1></h1>

                                        <p></p>
                                        <p></p>
                                        <p></p>

                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDazKAhE-EBkL7QMqVLm8k_IRDRowhDpd_kWZfVgfsYqByoA/viewform" class="btn btn-default" style=" margin-top: 25px; margin-left: 10px;">Faça a sua reserva!</a>
                                    </div>
                                    <!-- Banner Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
                             <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/patrocinadores2.jpg' %}">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content col-md-6">
                                        
                                    </div>
                                     <div class="banner--content col-md-6">

                                        <h1>
                                        <strong></strong></h1>

                                        <p></p>

                                        
                                    </div>
                                    <!-- Banner Content End -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->

                <!-- Banner Item Start -->
                 
                <!-- Banner Item End -->
            </div>
            <!-- Banner Slider End -->

            <!-- Banner From Start -->
            <!-- <div class="banner--form" data-form="ajax">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                           <form action="http://www.ainpgp.org/fiped/x/inscricao/pre_inscricao" method="post" accept-charset="utf-8">
                    <h2 class="h4 text-center">Inscreva-se agora!</h2>

                    <div class="status"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="insc_tipo">*Tipo de Inscrição</label>
                                <select name="insc_tipo" id="insc_tipo" class="form-control">
<option value="0">Selecione...</option>
<option value="1">Aluno de Graduação (R$50,00) - Com apresentação de trabalho</option>
<option value="2">Aluno de Graduação (R$40,00) - Sem apresentação de trabalho</option>
<option value="5">Aluno de Pós-graduação (R$70,00) - Com apresentação de trabalho</option>
<option value="6">Aluno de Pós-graduação (R$60,00) - Sem apresentação de trabalho</option>
<option value="9">Professores da Educação Básica e demais profissionais (R$80,00) - Com apresentação de trabalho</option>
<option value="10">Professores da Educação Básica e demais profissionais (R$70,00) - Sem apresentação de trabalho</option>
<option value="13">Professores Ensino Superior (R$120,00) - Com apresentação de trabalho</option>
<option value="14">Professores Ensino Superior (R$110,00) - Sem apresentação de trabalho</option>
</select>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="name-login" name="insc_nome" type="text" class="form-control" value="" maxlength="64" placeholder="Informe seu nome">
                            
                        </div>

                        <div class="form-group">
                            <input name="insc_login" type="text" class="form-control" value="" maxlength="64" placeholder="Informe seu e-mail">
                            
                        </div>

                        <div class="form-group">
                            <label for="insc_senha">CPF/Passaporte</label>
                            <input id="insc_senha" name="insc_senha" type="password" class="form-control" maxlength="16" value="" placeholder="Informe o CPF/Passaporte">
                            
                        </div>

                        <div class="form-group">
                            <label for="password-login-conf">Repetir CPF/Passaporte</label>
                            <input id="password-login-conf" name="insc_senha_conf" type="password" class="form-control" maxlength="16" value="" placeholder="Repita o CPF/Passaporte">
                            
                        </div>

                        <div class="text-center">
                        <input type="submit" class="btn btn-default" value="Criar conta agora!">
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Banner From End -->
        </div>
        <!-- Banner Section End -->

        <!-- Appointment Section Start -->
<div id="appointment" class="appointment--section pd--100-0">
    <div class="container">
        <div class="row row--vc">
            <!-- Appointment Form Start -->
            <div class="appointment--form col-md-4" data-form="ajax">

            <img src="{% static 'img/50anos.png' %}" alt="" data-rjs="2">
   
</div>           <!-- Appointment Form End -->

            <!-- Appointment Items Start -->
            <div class="appointment--items col-md-8">
                <div class="row AdjustRow" style="position: relative; height: 628px;">
                    <div class="col-xs-6 col-xxs-12" style="position: absolute; left: 0px; top: 0px;">
                        <!-- Appointment Item Start -->
                        <div class="appointment--item">
                            <span class="step font--secondary">O evento</span>

                            <div class="icon text--primary">
                                <i class="fas fas fa-clock fa-3x" data-rjs="2"></i>
                            </div>

                            <div class="content">
                                <ul>
                                    <li>Trabalhos de comunicação oral</li>
                                    <li>Oficinas de pesquisa</li>
                                    <li>Mesas redondas</li>
                                    <li>Lançamento de livros</li>
                                    <li>Atividades integradoras</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Appointment Item End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12" style="position: absolute; left: 390px; top: 0px;">
                        <!-- Appointment Item Start -->
                        <div class="appointment--item">
                            <span class="step font--secondary">Inscrições</span>
                            <div class="icon text--primary">
                                <i class="fas fa-quote-left fa-3x" data-rjs="2"></i>
                            </div>
                            <div class="title">
                                <h2 class="h4">Data de início das inscrições</h2>
                            </div>
                            <div class="content">
                                <p>
                                    As inscrições poderão ser realizadas até o dia 23 de novembro de 2018,<strong>podendo ser encerrada a qualquer momento por decisão dos organizadores, mediante  preenchimento de vagas disponíveis.</strong> 
                                </p>
                               
                            </div>
                        </div>
                        <!-- Appointment Item End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12" style="position: absolute; left: 0px; top: 290px;">
                        <!-- Appointment Item Start -->
                        <div class="appointment--item">
                            <span class="step font--secondary">Local</span>
                            <div class="icon text--primary">
                                <i class="fas fa-bullseye fa-3x"></i>
                            </div>
                            <div class="title">
                                <h2 class="h4">Onde acontecerá</h2>
                            </div>
                            <div class="content">
                                <p>
                                    O evento será realizado no <em>Campus</em> Avançado Professora Maria Elisa de Albuquerque Maia da Universidade do Estado do Rio Grande do Norte.<br>
                                    Rodovia BR-405, KM 153, Arizona<br>
                                    59900-000 – Pau dos Ferros-RN
                                </p>
                            </div>
                        </div>
                        <!-- Appointment Item End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12" style="position: absolute; left: 390px; top: 290px;">
                        <!-- Appointment Item Start -->
                        <div class="appointment--item">
                            <div class="appointment--item">
                                <span class="step font--secondary">Certificados</span>
                                <div class="icon text--primary">
                                    <i class="fas fa-graduation-cap fa-3x"></i>
                                </div>
                                <div class="title">
                                    <h2 class="h4">Sobre o certificado</h2>
                                </div>
                                <div class="content">
                                    <p>
                                        <strong>Certificados virtuais:</strong> Os certificados serão disponibilizados na área do participante até 60 dias úteis após o encerramento do evento.</p>
                                        <p>
                                            <strong>Publicação dos anais do evento:</strong> Os Anais do evento estarão disponíveis em até 90 dias úteis. O pagamento da inscrição do autor principal e coautores são obrigatórios para que os trabalhos sejam publicados nos anais. 
                                        </p>
                                    </div>
                                </div>
                                <!-- Appointment Item End -->
                            </div>
                        </div>
                        <!-- Appointment Item End -->
                    </div>
                </div>
            </div>
            <!-- Appointment Items End -->
        </div>
    </div>

<!-- Appointment Section End -->


       <!-- Services Section Start -->
<div class="services--section pd--100-0 bg--color-lightgray">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title">
            <h2 class="h2">X Fórum Internacional de Pedagogia</h2>
            <p>Pau dos Ferros - RN, de 27 a 30 de novembro de 2018</p>
        </div>
        <!-- Section Title End -->

        <div class="row text-center">
            <!-- Service Image Start -->
            <div class="service--img col-md-4 col-sm-8">
                <div class="service--img-inner bg--img bg--overlay"  data-rjs="2" data-bg-img="{% static 'img/service-img-bg.png' %}">
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane active" id="serviceImg01">
                            <img src="{% static 'img/qf-logo-center.png' %}" alt="">
                        </div>
                        <!-- Tab Pane End -->

                        <!-- Tab Pane Start -->
                        <div class="tab-pane" id="serviceImg02">
                            <img src="{% static 'img/qf-logo-center.png'%}" alt="">
                        </div>
                        <!-- Tab Pane End -->

                        <!-- Tab Pane Start -->
                        <div class="tab-pane" id="serviceImg03">
                            <img src="{% static 'img/qf-logo-center.png' %}" alt="">
                        </div>
                        <!-- Tab Pane End -->

                        <!-- Tab Pane Start -->
                        <div class="tab-pane" id="serviceImg04">
                            <img src="{% static 'img/qf-logo-center.png' %}" alt="">
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                    <!-- Tab Content End -->
                </div>
            </div>
            <!-- Service Image End -->

            <!-- Service Items Start -->
            <div class="service--items col-md-4 col-sm-6 text-right">
                <!-- Service Item Start -->
                <div class="service--item active">
                    <div class="dot" data-position-top="16px" data-position-right="-129px" style="top: 16px; left: auto; right: -129px;"></div>
                    <h3 class="h3">
                        <a href="#" data-toggle="tab" data-target="#serviceImg01">Carga horária</a>
                    </h3>
                    <p>O evento terá uma carga horária geral de 60 horas</p>

                    <a href="/inscricoes/normas" class="btn btn-default">Veja as normas</a>                </div>
                <!-- Service Item End -->

                <!-- Service Item Start -->
                <div class="service--item">
                    <div class="dot" data-position-top="13px" data-position-right="-54px" style="top: 13px; left: auto; right: -54px;"></div>
                    <h3 class="h3">
                        <a href="#" data-toggle="tab" data-target="#serviceImg02">Programação do evento</a>
                    </h3>
                    <p>Confira a programação geral do evento e os convidados (palestrantes) já confirmados.</p>
                    <a href="/programacao/programacao" class="btn btn-default">Veja a programação</a>                </div>
                <!-- Service Item End -->
            </div>
            <!-- Service Items End -->

            <!-- Service Items Start -->
            <div class="service--items col-md-4 col-sm-6 float--right">
                <!-- Service Item Start -->
                <div class="service--item">
                    <div class="dot" data-position-top="16px" data-position-left="-129px" style="top: 16px; left: -129px; right: auto;"></div>

                    <h3 class="h3">
                        <a href="#" data-toggle="tab" data-target="#serviceImg03">Grupos de trabalho</a>
                    </h3>

                    <p>Conheça os grupos de trabalhos relacionadas ao evento. Veja em qual se encaixa mais a sua pesquisa e submeta sua proposta de trabalho.</p>

                    <a href="/trabalhos/areas_tematicas" class="btn btn-default">Veja os grupos de trabalho</a>                </div>
                <!-- Service Item End -->

                <!-- Service Item Start -->
                <div class="service--item">
                    <div class="dot" data-position-top="13px" data-position-left="-54px" style="top: 13px; left: -54px; right: auto;"></div>

                    <h3 class="h3">
                        <a href="#" data-toggle="tab" data-target="#serviceImg04">Publicação de trabalhos</a>
                    </h3>

                    <p>Conheça as normas e submeta seu trabalho na área do participante. Os trabalhos publicados.</p>

                    <a href="/trabalhos/normas" class="btn btn-default">Veja as normas</a>                </div>
                <!-- Service Item End -->
            </div>
            <!-- Service Items End -->
        </div>

        <!-- Section Footer Start -->
        <div class="section--footer text-center">
            <a href="{% url 'cbvadmin:login' %}" class="btn btn-default">Inscreva-se agora!</a>        </div>
        <!-- Section Footer End -->
    </div>
</div>
<!-- Services Section End -->


        <!-- Pricing Section Start -->
<div class="pricing--section pd--100-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title">
            <h2 class="h2">Categorias e valores de inscrição</h2>

            <p>Escolha a melhor opção!</p>
        </div>
        <!-- Section Title End -->

        <div class="row AdjustRow" style="position: relative; height: 571px;">
            <div class="col-md-6 col-xs-6 col-xxs-12" style="position: absolute; left: 0px; top: 0px;">
                <!-- Pricing Item Start -->
                <div class="pricing--item">

                    <div class="pricing--title">
                        <h3 class="h4">Participantes em geral</h3>
                    </div>
                    <div class="pricing--price">
                        <p>Aluno de <strong>graduação</strong></p>
                        <h4 class="h2">R$ 60,00</h4>
                    </div>
                      <div class="pricing--price">
                        <p>Aluno de <strong>pós-graduação</strong></p>
                        <h4 class="h2">R$ 80,00</h4>
                    </div>
                    <div class="pricing--price">
                        <p>Professor da <strong>educação básica e demais profissionais</strong></p>
                        <h4 class="h2">R$ 80,00</h4>
                    </div>
                    <div class="pricing--price">
                        <p>Professor do <strong>ensino superior</strong></p>
                        <h4 class="h2">R$ 120,00</h4>
                    </div>
                   <!--  <div class="pricing--features">
                        <ul class="nav">
                            <li>1ª sem apresentação de trabalho - R$40,00. </li>
                            <li>2ª <strong>com</strong> apresentação de trabalho e oficina- R$50,00. </li>
                        </ul>
                    </div> -->

                    <div class="pricing--footer">
                        <a href="{% url 'cbvadmin:login' %}" class="btn btn-default">Inscrever-se</a>                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-md-6 col-xs-6 col-xxs-12" style="position: absolute; left: 292px; top: 0px;">
                <!-- Pricing Item Start -->
                <div class="pricing--item active">
                    <div class="pricing--title">
                        <h3 class="h4">Associados AINPGP</h3>
                    </div>

                   <div class="pricing--price">
                        <p>Aluno de <strong>graduação</strong></p>
                        <h4 class="h2">R$ 40,00</h4>
                    </div>
                      <div class="pricing--price">
                        <p>Aluno de <strong>pós-graduação</strong></p>
                        <h4 class="h2">R$ 30,00</h4>
                    </div>
                    <div class="pricing--price">
                        <p>Professor da <strong>educação básica e demais profissionais</strong></p>
                        <h4 class="h2">R$ 30,00</h4>
                    </div>
                    <div class="pricing--price">
                        <p>Professor do <strong>ensino superior</strong></p>
                        <h4 class="h2">R$ 20,00</h4>
                    </div>

                    <div class="pricing--footer">
                        <a href="{% url 'cbvadmin:login' %}" class="btn btn-default">Inscrever-se</a>                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>


        </div>
            <center><p style="font-weight: bold;">*Todas as inscrições darão o direito de participação de apenas uma oficina em pesquisa (atividade concomitante).</p></center>
            <center><p style="font-weight: bold;">*O abatimento concedido aos associados da AINPGP para a INSCRIÇÃO para o X FIPED foi determinado levando-se em conta a seguinte contribuição anual(2018) estabelecida pela Associação: Alunos de Graduação:R$20,00; Alunos de Pós-Graduação:R$50,00; Professores da Educação Básica:R$50,00; Professores do Ensino Superior:R$100,00.</p></center>
            <center><p style="font-weight: bold;">Alunos e professores estrangeiros: *Solicitamos observar os valores da inscrição do X FIPED e fazer conversão para o pagamento de acordo com a sua categoria.</p></center>
    </div>

</div>
            <!-- Pricing Section End -->

<!-- section pacotes start -->
<div class="pricing--section pd--100-0 bg--color-lightgray" id="pacotes">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title">
            <h2 class="h2">Adquira os pacotes</h2>

            <p>Escolha a melhor opção!</p>
        </div> 
        <!-- Section Title End -->

        <div class="row AdjustRow" style="position: relative; height: 571px;">
            <div class="col-md-6 col-xs-6 col-xxs-12" style="position: absolute; left: 0px; top: 0px;">
                <!-- Pricing Item Start -->
                <div class="pricing--item active">

                    <div class="pricing--title">
                    <h2><i class="fab fa-avianex"></i></h2>
                        <h3 class="h4">Passagem</h3>
                    </div>
                    

                    <div class="pricing--footer">
                        <a href="http://xfiped.depassaporte.com.br/" class="btn btn-default">Acesse aqui</a>                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-md-6 col-xs-6 col-xxs-12" style="position: absolute; left: 292px; top: 0px;">
                <!-- Pricing Item Start -->
                <div class="pricing--item active">
                    <div class="pricing--title">
                        <h2><i class="fas fa-hotel"></i></h2>
                        <h3 class="h4">Hospedagem</h3>
                    </div>


                    <div class="pricing--footer">
                        <a href="http://www.depassaporte.com.br/servico/hospedagem-fiped/?referrerUrl=xfiped.depassaporte.com.br" class="btn btn-default">Acesse aqui</a>                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

           

        </div>
            
    </div>

</div>
<!-- pacotes Section End -->

<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="{% url 'cbvadmin:login' %}" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>    

<div class="icon-bar">
  <a href="#pacotes" class="facebook">
      <img src="{% static 'img/apslpal.jpg' %}">
  </a> 
  
</div>    
{% endblock %}
