{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/IV_SEMAP.jpg' %}">
		<div class="container">
			<h1 class="h1"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container">

	<div class="row">
		<div class="col-md-12 text-center un-mtb-10-rem">
			<h3>SOBRE O IV SEMAP (Seminário de Pedagogia do PARFOR)</h3>
			
		</div>
	</div>
</div>

<div class="cta--section bg--color-darkgray">
	<div class="pricing-single--section un-pd-5">
		<div class="container">
			<!-- Pricing Single Sidebar Start -->
			<div class="pricing-single--sidebar col-md-4 pb--60">
				<!-- Nav Links Widget Start -->
				<div class="nav-links--widget bg--color-lightgray" style="padding-top: 2rem">
					<!-- <h2 class="h4">Our Services</h2> -->

					<ul class="nav">
						<li class="active"><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab01" data-toggle="tab" style="font-size: 15px;">Histórico</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab02" data-toggle="tab" style="font-size: 15px;">Justificativa</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab03" data-toggle="tab" style="font-size: 15px;">Objetivos</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab04" data-toggle="tab" style="font-size: 15px;">Programação provisória do X FIPED/ IV SEMAP</a></li>
					<!-- 	<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab05" data-toggle="tab">Grupos de Trabalho</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab06" data-toggle="tab">Trabalhos Científicos</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab07" data-toggle="tab">Datas Importantes</a></li>
						<li><a href="http://www.ainpgp.org/fiped/x/evento/sobre#pricingSingleTab08" data-toggle="tab">Local do Evento</a></li> -->
					</ul>
				</div>
				<!-- Nav Links Widget End -->
			</div>
			<!-- Pricing Single Sidebar End -->

			<!-- Pricing Single Content Start -->
			<div class="pricing-single--content col-md-8">
				<!-- Tab Content Start -->
				<div class="tab-content">
					<!-- Tab Pane Start -->
					<div class="tab-pane fade in active" id="pricingSingleTab01">
						<div class="row">
							<div class="pricing-single--item col-sm-12" style="font-size: 16px;">
								<h2 class="title h4">Histórico</h2>
								<p style="text-align: justify;">
									O Seminário de Pedagogia do PARFOR (SEMAP) é um evento de caráter científico, criado no ano de 2015, como forma de socializar as atividades desenvolvidas no componente curricular Seminário Temático I, ministrado no 5º período do curso de Pedagogia, pelo PARFOR/CAMEAM/UERN. Idealizado e organizado pela professora Maria Lúcia Pessoa Sampaio, na ocasião, professora responsável pelo referido componente curricular, o objetivo do evento foi proporcionar aos alunos do curso de Pedagogia/PARFOR/UERN/CAMEAM o “vivenciar situações pedagógicas do ensinar e aprender que envolvam pesquisa e a divulgação científica e inovação tecnológica”. O I SEMAP foi realizado no dia 20 de março de 2015 com o tema: Seminário de divulgação cientifica “ensinar-aprender com pesquisa e novas tecnologias”. 
								</p>
								<p style="text-align: justify;">
									A segunda edição do SEMAP foi realizada nos dias 18 e 19 de setembro de 2015, seguindo a mesma lógica e do I SEMAP, mas desta vez, realizado no componente curricular Seminário Temático II, no 6º período do curso de Pedagogia, em articulação com o componente curricular Estágio Supervisionado II. O II SEMAP teve como tema: “O Estágio Supervisionado: escola, universidade e sociedade”.
								</p>
								<p style="text-align: justify;">
									O terceiro SEMAP, com o tema: Entre “baús e chaves”: leitura, mediação e produção literária, foi realizado nos dias 21 e 22 de julho de 2017, em parceria com o PIBID do Curso de pedagogia/CAMEAM. Nessa terceira edição, foram socializadas as atividades desenvolvidas nos componentes curriculares: Práticas Pedagógicas Programadas I e Estudos Acadêmicos Introdutórios II. 
								</p>
								<p style="text-align: justify;">
									A quarta edição do SEMAP será realizada como atividade do componente curricular Seminário Temático I, com o tema “Relatos de Experiências, Vivências e Pesquisa na Educação Infantil”, dentro da programação do X FIPED, a ser realizado de 27 a 30 de novembro de 2018, em Pau dos Ferros-RN. 
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pricingSingleTab02">
						<div class="row">
							<div class="pricing-single--item col-sm-12" style="font-size: 16px;">
								<h2 class="title h4">Justificativa</h2>
								<p style="text-align: justify;">
									O IV Seminário de Pedagogia do PARFOR deverá ser um dos protagonistas do X Fórum Internacional de Pedagogia (FIPED), sendo uma programação que integrará o evento. Esta ação possibilitará os alunos do Curso de Pedagogia do PARFOR a partilharem suas experiências acadêmicas internacionalmente, bem como poderem construir possibilidades de produção científica a serem apresentadas na modalidade de comunicação oral nos diferentes grupos de trabalhos do evento, além de desenvolverem atividades diferenciadas na coordenação do evento. 
								</p>
								<p style="text-align: justify;">
									Nessa quarta edição, o SEMAP extrapola os limites de interação dos (a) alunos (a) por meio de sua inserção na programação do X FIPED, uma vez que o (a) aluno (a) do PARFOR passará a dialogar com estudantes de graduação, pós-graduação e pesquisadores nacionais e internacionais sobre temas diversos que permeiam a formação e prática em pesquisa do pedagogo. 
								</p>
								<p style="text-align: justify;">
									Considerando que o PARFOR possui adota a política de estímulo e valorização do/a professor/a da educação básica o fomento à formação inicial e continuada, no sentido da promoção de melhoria qualitativa no sistema educacional brasileiro, acreditamos que o IV SEMAP, como parte integrante do X FIPED, representa a possibilidade de ofertar aos graduandos/as, e aos/as professores/as da Educação Básica de uma região carente de eventos dessa natureza, a oportunidade de conhecer novas experiências de ensino, pesquisa e extensão, especialmente pela reputação que o FIPED tem construído quanto ao seu papel integrador como rede de conhecimentos.
								</p>
							
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pricingSingleTab03">
						<div class="row">
							<div class="pricing-single--item col-sm-12" style="font-size: 16px;">
								<h2 class="title h4">Objetivos</h2>

								<ul style="text-align: justify;">
									<li>Estimular o/a aluno/a do PARFOR a apresentar sua produção acadêmica no Evento Internacional de Pedagogia/FIPED, na modalidade de comunicação oral; </li>
									<li>Permitir que o IV SEMAP, através de sua inserção na programação do X FIPED, possa dialogar com práticas de pesquisas internacionais sobre temas que permeiam a formação do pedagogo;</li>
									<li>Induzir o/a aluno/a do PARFOR a produzir artigo científico.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pricingSingleTab04">
						<div class="row">
							<div class="pricing-single--item col-sm-12" style="font-size: 16px;">
								<h2 class="title h4">Programação</h2>

			<table class="table table-bordered" style=" border: 1px solid #ddd;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">8h às 11h30min </td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Recepção e credenciamento</li>
							<li>Atividades integradoras</li>
							<li>Encontro interinstitucional entres os programas de IES brasileiras e estrangeiras</li>
							
						</ul>
					</td>
					
				</tr>
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">11h30min às 13h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>
			<table class="table table-bordered wow slideInRight" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - VESPERTINO</strong></td>
				</tr>
			
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">13h às 17h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">GT’s (16 grupos)</td>
				</tr>
		
			</tbody></table>


<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">

				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>27/11/2018 (TERÇA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">19h às 22h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul><li>Solenidade de abertura (UERN, UFERSA, IFRN e FACEP)</li>
							<li>Mesa de abertura: “Pesquisa na graduação em tempos de internacionalização do conhecimento”</li>
							<ul>
							<li>Prof. Dr. Valdir Heitor Barzotto – Brasil (USP/Presidente de honra da AINPGP)</li>
							<li>Prof. Dr. Rui Trindade – Portugal (Universidade do Porto/ U.Porto)</li>
							<li>Profa Dra Cristiane Maria Nepomuceno – Brasil (UEPB/ Presidente da AINPGP)</li> 
							<li>Profa Dra. Maria Lúcia Pessoa Sampaio – Brasil (UERN/Fundadora do FIPED-AINPGP/UERN)</li>
							<li>Discente José Mário de Souza – Brasil (UERN)</li>
							</ul>
						</ul>
					</td>
				</tr>
				
				
			
			</tbody></table>


			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - MATUTINO)</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">8h às 11h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Mesas internacionais – coordenadores de edições anteriores dos FIPEDs</li>
							<li>Lançamento de livros</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">11h30min às 13h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>

				
			</tbody></table>


			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">13h30min às 17h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						GT’s [15 GTs]
					</td>
				</tr>
				
				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>28/11/2018 (QUARTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">19h às 22h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Mesa intercontinental: “10 anos de AINPGP/FIPED: da difusão da interiorização no FIPED à internacionalização da AINPGP</li>
							<ul>
							<li>Profa Dra. Cristiane Nepomuceno - Brasil (UEPB/ Presidente da AINPGP)</li>
							<li>Prof. Dr. Pedro González – Portugal (Universidade dos Açores)</li>
							<li>Prof. Me. Luís Rodrigues – Cabo Verde (Universidade de Santiago)</li>
							<li>Prof. Me Rey Jesus Galdino – México (Universidade do México)</li>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							</ul>
							<li>Atividades integradoras</li>
							<li>Lançamento de Livros</li>
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>3º DIA 29/11/2018 (QUINTA-FEIRA)</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">08 h às 17h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Recepção e credenciamento</li>
							
						</ul>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - MATUTINO</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">8h às 11h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Mesa redonda: "A pesquisa na formação de professores"</li>
							<ul>
								<li>Profa Dra Isabel Maria Pimenta Henriques Freire –Portugal (Instituto de Educação/Universidade de Lisboa)</li>
								<li>Profa Dra Sheyla Maria Fontenele Macedo – Brasil (UERN)</li>
								<li>Discente Lídia Rafaela Alves Batista – Brasil (UERN)</li>
							</ul>
							
						</ul>
					</td>
				</tr>
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">11h30min às 13h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
			

				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">13h30min às 17h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Oficinas de Pesquisa para Graduação</li>
							<li>Oficinas de Pesquisas para Pós-Graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>29/11/2018 (QUINTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">19h às 22h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>5ª Quinta Cultural</li>
							
						</ul>
					</td>
				</tr>
				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>4º DIA 30/11/2018 (SEXTA-FEIRA)</strong></td>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA)  - MATUTINO</strong></td>
				</tr>
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">8h às 11h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Mesa redonda: “La investigación en el campo da tecnologia al servicio de la democracia y la educacion”</li>
						<ul>
							<li>Profa Dra Sandra Meza – Chile (Universidade Nacional do Chile)</li>
							<li>Prof. Dr. Miguel Dias – Brasil (Universidade da Integração Internacional da Lusofonia Afro-Brasileira– UNILAB)</li>
							<li>Prof. Dr. Marcelo Pultiniks – Brasil  (Universidade Federal de Santa Maria/ UFSM)</li>
							<li>Discente (UERN)</li>
						</ul>
						<li>Oficinas para pós-graduação</li>
						<li>Mesa redonda IV SEMAP: “Relatos de Experiências, Vivências e Pesquisa na Educação Infantil”

						<p>Coordenação: Ciclene Alves da Silva</p>
						<p>Temáticas e palestrantes:</p>
						<ul> 
							<li>Ser professor da Educação Infantil: Profa. Ma. Helena Perpetua de Aguiar Ferreira (Coordenadora Geral do PARFOR/UERN)</li>
							<li>Projetos de Trabalho na Educação Infantil: uma possibilidade: Josenilda Pinheiro de Melo Oliveira (Aluna do PARFOR Pedagogia)</li>
							<li>Concepções e prática da Educação Infantil: Profa. Ma. Lívia Sonalle do Nascimento</li>
							<li>Experiências escolares vividas por crianças do campo: Profa. Dra. Gilcelene Lélia Souza do Nascimento</li>
						</ul>
						</li>
							
						</ul>
					</td>
				</tr>

				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">11h30min às 13h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<center><p><strong>INTERVALO PARA ALMOÇO</strong></p></center>
					</td>
				</tr>
				
			</tbody></table>

			<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - VESPERTINO</strong></td>
				</tr>
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">13h30min às 15h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Oficinas de Pesquisa para Graduação</li>
							<li>Oficinas de Pesquisas para Pós-Graduação (15h/01 crédito)</li>
							
						</ul>
					</td>
				</tr>
				<tr>
				<td style=" border: 1px solid #ddd; padding: 8px;">15h30 às 17h30min</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>ASSEMBLEIA DA AINPGP</li>
						</ul>
					</td>
				</tr>
				
			</tbody></table>

						<table class="table table-bordered wow slideInLeft" style="visibility: hidden; animation-name: none;">
				<tbody>
				</tr>
				<tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>30/11/2018 (SEXTA-FEIRA) - NOTURNO</strong></td>
				</tr>
				
				<tr>
					<td style=" border: 1px solid #ddd; padding: 8px;">19h às 22h</td>
					<td style=" border: 1px solid #ddd; padding: 8px;">
						<ul>
							<li>Mesa de Encerramento</li>
							
						</ul>
					</td>
				</tr>
				
				
			</tbody></table>

							</div>
						</div>
					</div>


	


					<div class="tab-pane fade in" id="pricingSingleTab06">
						<div class="row">
							<div class="pricing-single--item col-sm-12">
								<h2 class="title h4">Trabalhos Científicos</h2>
								<p>Os trabalhos serão recebidos por formulário online até a meia-noite do 30 de Setembro de 2016 (horário de Brasília), impreterivelmente. Poderão ser submetidos nas modalidades comunicação oral ou pôster apenas na forma de Resumo Expandido. Confira no link Datas importantes os prazos de submissão do evento!</p>
								<p>Os trabalhos deverão ser submetidos através da área do participante no ícone Trabalho Científico. Não serão aceitos em nenhuma hipótese trabalhos enviados por e-mail.</p>
								<p>Para o envio do trabalho utilize o modelo de papel timbrado do evento. O uso do papel timbrado do evento é obrigatório. O modelo está disponível no link Trabalhos Científicos.</p>
								<p>Fique atento! O arquivo do Resumo Expandido deverá ser adicionado na plataforma de submissão. Saiba mais em Trabalhos Científicos.</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pricingSingleTab07">
						<div class="row">
							<div class="pricing-single--item col-sm-12">
								<h2 class="title h4">Datas Importantes</h2>
								<p>
									Confira as datas importantes do evento! Não deixe de acompanhar as atualizações da página, seu e-mail cadastrado no sistema de inscrição e sua área de congressista.
								</p>
								<ul>
									<li>Prazo máximo para fazer sua inscrição: <strong>23 de novembro de 2018</strong></li>
									<li>Prazo máximo para efetuar o pagamento: <strong>23 de novembro de 2018</strong></li>
									<li>Prazo máximo para submissão de trabalhos científicos: <strong>23 de novembro de 2018</strong></li>
									<li>Prazo final para envio das correções dos trabalhos científicos: <strong>23 de novembro de 2018</strong></li>
									<li>Divulgação final dos resultados de trabalhos: <strong>23 de novembro de 2018</strong></li>
									<li>Abertura do evento: <strong>23 de novembro de 2018</strong></li>
									<li>Encerramento do evento: <strong>23 de novembro de 2018</strong></li>
									<li>Publicação online dos Certificados: <strong>23 de novembro de 2018</strong></li>
									<li>Publicação online dos Anais: <strong>23 de novembro de 2018</strong></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pricingSingleTab08">
						<div class="row">
							<div class="pricing-single--item col-sm-12">
								<h2 class="title h4">Local do evento</h2>
								<p>
									<strong>UERN - Universidade do Estado do Rio Grande do Norte</strong><br>
									Campus Avançado "Profa. Maria Elisa de Albuquerque Maia" (CAMEAM)<br>
									Site do Campus: http://pferros.uern.br<br>
									Telefone: (84) 3351-2560 <br>
									Fax: (84) 3351 3909<br>
									Email: pferros@uern.br <br>

									<br><strong>Endereço</strong><br>
									BR 405, KM 153 <br>
									Bairro: Arizona – CEP: 59900-000 <br>
									Pau dos Ferros-RN<br>
									Outras informações: http://www.ainpgp.org/<br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock %}