{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/BACK.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;">Monitoria</h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
    <div class="heading text-center">
        <h2>MONITORES CLASSIFICADOS</h2>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>UERN</strong></td>
                </tr>
               
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>1. Adriana de Morais Lima - UERN</li>
                        <li>2. Adriéla Mycol da Silva – UERN</li>
                        <li>3. Ananias Marcos de Souza Castro – UERN</li> 
                        <li>4. Anderson Matheus André de Oliveira – UERN</li> 
                        <li>5. Anny Angélica De Assis Maia De Lima – UERN</li> 
                        <li>6. Antônia Fernanda Kiarely de Souza – UERN</li> 
                        <li>7. Atalia Tainan de Freitas Meneses – UERN</li> 
                        <li>8. Camila Emanuela Gomes de Aquino – UERN</li> 
                        <li>9. Carlos Eduardo Coutinho de Melo – UERN</li> 
                        <li>10. Edinete Neres de Lima – UERN</li> 
                        <li>11. Eduardo Custodio da Silva – UERN</li> 
                        <li>12. Fabiane Aparecida Viana Feitosa – UERN</li> 
                        <li>13. Fabio Junior Da Silva – UERN - MOSSORÓ</li>
                         <li>14. Francisca Camila Ferreira Oliveira – UERN</li> 
                        <li>15. Francisca Luzia de Freitas Oliveira – UERN</li> 
                        <li>16. Hanna Hélida de Oliveira Silva – UERN</li>
                         <li>17. Hildegna Moura da Costa – UERN</li> 
                        <li>18. Hudson Igor Rego Alves – UERN</li> 
                        <li>19. Índara Liliane da Silva Souza – UERN</li> 
                        <li>20. Isaac Davi Mendes Pinto De Morais – UERN</li> 
                        <li>21. Jessica Monte de Lima – UERN</li> 
                        <li>22. José Rubens Pereira – UERN</li> 
                        <li>23. Karen Ingred Nogueira Magalhães – UERN</li> 
                        <li>24. Kariane Priscila da Costa Granjeiro – UERN</li> 
                        <li>25. Larissa da Conceição Gomes – UERN</li> 
                        <li>26. Letícia Bezerra França – UERN</li> 
                        <li>27. Lucas Matheus de Melo – UERN</li> 
                        <li>28. Marcos Maciel Barros Gomes – UERN</li> 
                        <li>29. Maria Claudismar Saldanha de Aquino – UERN</li> 
                        <li>30. Maria Eliza Rocha Silva – UERN</li> 
                        <li>31. Maria Michaelly Vasconcelos Diógenes – UERN</li> 
                        <li>32. Maria Thays Alves – UERN</li> 
                        <li>33. Paula Jordana de Freitas Cardoso – UERN</li> 
                        <li>34. Samuel Sena de Lima – UERN</li> 
                        <li>35. Thayna Bento Chapiama – UERN</li> 
                        <li>36. Vaneilma Fernandes Noronha – UERN</li> 
                        <li>37. Wigina Biatriz Santos Ferreira – UERN</li>
                        <li>38. Krysllany Days Pereira Leite – UERN/PARFOR</li> 
                        <li>39. Raquel De Oliveira Rodrigues Silva – UERN/PARFOR</li> 
                        <li>40. Fransuilma Lima Cavalcante – UERN/PARFOR</li> 
                        <li>41. Francisca Marciana Pereira da Silva – UERN/PARFOR</li> 
                        <li>42. Rosane Fainny de Oliveira Medeiros – UERN/PARFOR</li> 
                        <li>43. Maria Antônia Macena da Silva – UERN/PARFOR</li>
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>UFERSA</strong></td>
                </tr>
             
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>44. Igor Sthaynny Costa do Nascimento – UFERSA</li>
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>FACEP</strong></td>
                </tr>
              
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>45. Cintya Thaís de Freitas Moura – FACEP</li>
                        <li>46. Letícia Santos Fernandes - FACEP</li>
                        <li>47. Maria Michelly Vasconcelos Diogenes – FACEP</li>
                       
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>IFRN</strong></td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li> - </li>
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
    <div class="heading text-center">
        <h2>MONITORES DESCLASSIFICADOS*</h2>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong></strong></td>
                </tr>
              
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>1. Alana Gabrielly Pereira Pinheiro</li>
                        <li>2. ANDRESA SILVESRE DE SOUSA</li>
                        <li>3. Antonio Klenylson Fernandes Leite</li>
                        <li>4. Elizieb Luiz Liberato Pereira</li>
                        <li>5. Francisco Felipe de Carvalho</li>
                        <li>6. Francisco Sávio Silva Alves</li>
                        <li>7. Hellyda Tattyhelle de Almeida</li>
                        <li>8. Joseilson Jales Alves</li>
                        <li>9. Laíza Vitória Costa Cosme</li>
                        <li>10. Lucas Emanuel Costa Lima</li>
                        <li>11. Luciana Maia Lopes</li>
                        <li>12. Maria Anaclecia Ferreira</li>
                        <li>13. Maria Larissa Dantas Carvalho</li>
                        <li>14. Maria Miraíre Pereira Silva</li>
                        <li>15. Noalda Vanessa Laurentino De Sousa</li>
                        <li>16. Ozeias Henrique Ventura de Oliveira</li>
                        <li>17. Paulo Gleidson De Oliveira Aquino</li>
                        <li>18. Pedro Henrique Aires da Silva</li>
                        <li>19. Silas Vieira de Carvalho Neto</li>
                        <li>20. Talita Araújo Costa**</li>
                        <li>21. Tawan Oliveira Teixeira</li>
                       
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<p>*Os monitores desclassificados não enviaram a declaração de vínculo institucional, requisito necessário para validar sua inscrição.</p>

<p>**A monitoria é destinada aos alunos de graduação. A aluna, porém, poderá participar da comissão como membro, portanto, deve procurar a coordenação.</p>

<p><strong>Observação:</strong> Atenção fipedianos! Temos 30 vagas para monitoria destinadas aos alunos de graduação das IES parceiras do X FIPED: UFERSA, IFRN e FACEP.


<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock %}