


{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

   <!-- Experts Section Start -->
        <div class="experts--section pd--100-0-70">
            <div class="container">
                <!-- Expert Members Start -->
                <div class="expert--members row AdjustRow">
                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/capes.png' %}" alt="" data-rjs="2">

                            <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                     <!--    <div class="name">
                                            <h3 class="h5">Sahjahan Saju</h3>
                                        </div>

                                        <div class="role">
                                            <p>Computer Repair Expert</p>
                                        </div>

                                        <div class="content">
                                            <p>Hello! I am Sahjahan Saju. I am Computer Repair Expert.</p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->


                    <div class="experts--section pd--100-0-70">
            <div class="container">
                <!-- Expert Members Start -->
                <div class="expert--members row AdjustRow">
                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/fapern.PNG' %}" alt="" data-rjs="2">

                            <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                     <!--    <div class="name">
                                            <h3 class="h5">Sahjahan Saju</h3>
                                        </div>

                                        <div class="role">
                                            <p>Computer Repair Expert</p>
                                        </div>

                                        <div class="content">
                                            <p>Hello! I am Sahjahan Saju. I am Computer Repair Expert.</p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->

                    <div class="experts--section pd--100-0-70">
            <div class="container">
                <!-- Expert Members Start -->
                <div class="expert--members row AdjustRow">
                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/brisanet-logo.png' %}" alt="" data-rjs="2">

                            <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                     <!--    <div class="name">
                                            <h3 class="h5">Sahjahan Saju</h3>
                                        </div>

                                        <div class="role">
                                            <p>Computer Repair Expert</p>
                                        </div>

                                        <div class="content">
                                            <p>Hello! I am Sahjahan Saju. I am Computer Repair Expert.</p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->

                {% endblock %}