
{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    
    <!-- Preloader Start -->
    <div class="preloader bg--color-theme"></div>
    <!-- Preloader End -->
    
     <div class="wrapper">
   

        <!-- Page Header Section Start -->
        <div class="page-header--section text-center">
            <div class="cta--section bg--color-darkgray">
        <div class="pricing-single--section un-pd-5">
            <div class="container">
                

                <!-- Pricing Single Content Start -->
                <div class="pricing-single--content ">
                                <div class="row">
                        <div class="col-md-12 text-center un-mtb-10-rem">
                            <h2 style="color: #d9d9d9">Seja um patrocinador<br>
                                <small>CONVITE DE PARTICIPAÇÃO E APOIO</small>
                            </h2>
                        </div>
                    </div>



        <p style="text-align: justify; color: #d9d9d9">À V.Sa.</p>
        <p style="text-align: justify;color: #d9d9d9">A Coordenação Geral do 10º FIPED (Fórum Internacional de Pedagogia) tem a honra de participar à vossa senhoria e à entidade que representa, da 10ª Edição do FIPED que ocorrerá entre os dias 27 a 30 de novembro de 2018, sob o tema: “10 anos de FIPED/AINPGP: pesquisa, memória, criatividade e internacionalização” no Campus Avançado Profa. Maria Elisa de Albuquerque Maia (CAMEAM), da Universidade do Estado do Rio Grande do Norte (UERN); evento que retorna ao berço 10 anos após a sua primeira edição realizada nesse mesmo Campus (CAMEAM/UERN). </p>
        <p style="text-align: justify;color: #d9d9d9">O Fórum Internacional de Pedagogia (FIPED), constitui-se num espaço de comunicação, produção e democratização dos conhecimentos científicos produzidos na área da Educação. O FIPED é promovido pela Associação Internacional de Pesquisa na Graduação em Pedagogia (AINPGP) e visa a estimular a produção e compartilhamento da produção científica entre profissionais da educação e, principalmente entre graduandos do curso de Pedagogia e áreas afins.</p>
        <p style="text-align: justify;color: #d9d9d9">O evento conta com diversas atividades, como conferências, palestras mesas-redondas, apresentações em grupos de trabalhos, oficinas de pesquisa e contará com a presença de especialistas e pesquisadores na área da Pedagogia além de figuras notáveis e reconhecidas dentro do cenário mundial e está será uma edição comemorativa, alusiva aos 10 anos do evento que já rodou diversos estados Brasileiros como Rio Grande do Norte, Paraíba, Piauí, Baía, no Rio Grande do Sul, Amazonas, Maranhão e Pará, e no exterior em países como Portugal, Costa Rica, México, Honduras, Cabo Verde e Chile.</p>
        <p style="text-align: justify;color: #d9d9d9">As inscrições  e demais informações sobre o evento estão disponíveis no site do evento  (http://ainpgp.org/fiped/xfiped). Aproveitamos a ocasião para solicitar a ampla divulgação do mesmo.Pleiteamos ainda vossa disponibilidade para que seja um de nossos patrocinadores. Para isso, anexamos o plano de PLANOs e patrocínio, que poderá ser reconsiderado, bastando entrar em contato conosco.Sem mais para o momento registramos os nossos votos da mais elevada estima e consideração.</p>
                </div>
            </div>
        </div>
        <div>
            <a href="#Content" class="btn btn-default active"><i class="fa fa-angle-down"></i></a>
        </div>
</div>

        </div>
        <!-- Page Header Section End -->

        
 <!-- Counter Section Start -->
        <div class="counter--section pd--100-0-40 bg--color-blue" id="Content" style="height: 800px;">
            <div class="container">
                           
                <div class="row">
                <!-- Counter Item Start -->
                    <div class="counter--item col-md-2 ">
                        <div class="icon">
                            <img src="img/counter-img/icon-01.png" alt="" data-rjs="2">
                        </div>

                        <div class="info">
                            <a data-toggle="modal" data-target="#exampleModal"><img src="{% static 'img/esmeralda 2.jpg' %}" alt="" data-rjs="2" width="100px;" height="100px;" class="image"></a>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cota Esmeralda</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                     <ul>
                                        <li ><span>Benefícios do PLANO OURO + 12 cortesias + Stand.</span></li>
                                        <li ><span>O nome do patrocinador estará DIRETAMENTE atrelado ao evento. Ou seja, cada vez que se mencionar o NOME do evento, será “adiciona-se” o nome do patrocinador esmeralda. </span></li>
                                        <li><span>Valor da Contrapartida (investimento): R$ 2.000,00</span></li>
                                    </ul>
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- Counter Item End -->
                    <!-- Counter Item Start -->
                    <div class="counter--item col-md-2">
                        <div class="icon">
                            <img src="img/counter-img/icon-01.png" alt="" data-rjs="2">
                        </div>

                        <div class="info">
                            <a data-toggle="modal" data-target="#modaldiamante"><img src="{% static 'img/diamante 2.jpg' %}" alt="" data-rjs="2" width="100px;" height="100px;" class="image"></a>

                             <div class="modal fade" id="modaldiamante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cota Diamante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <ul>
                                        <li ><span>Benefícios do PLANO OURO + Stand.</span></li>
                                        <li ><span>Valor da Contrapartida (investimento): R$ 800,00</span></li>

                                    </ul>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

            
                        </div>
                    </div>
                    <!-- Counter Item End -->
                    
                    <!-- Counter Item Start -->
                    <div class="counter--item col-md-2">
                        <div class="icon">
                            <img src="img/counter-img/icon-02.png" alt="" data-rjs="2">
                        </div>

                        <div class="info">
                            <a data-toggle="modal" data-target="#modalouro"><img src="{% static 'img/ouro 2.jpg' %}" alt="" data-rjs="2" width="100px;" height="100px;" class="image"></a>

                             <div class="modal fade" id="modalouro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cota Ouro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                     <ul>
                                        <li ><span>Inserção da logo da empresa apoiadora em todo o material de divulgação do evento que for contratado, seja na versão impressa, e/ou mídia (com direito a link do site do evento para o site do(a) patrocinador(a)), portanto exceto divulgação ofertada gratuitamente por qualquer empresa e/ou instituição; </span></li>
                                        <li ><span>Inserção da logo da empresa apoiadora em todo material impresso do evento que for contratado e confeccionado, portanto exceto material cortesia ofertado por qualquer empresa e/ou instituição;  </span></li>
                                        <li><span>Direito de incluir brindes e materiais promocionais; </span></li>
                                        <li><span>Mídia Digital nas Redes Sociais;</span></li>
                                        <li><span>Mídia Desk;</span></li>
                                        <li><span>10 (dez) inscrições de cortesia em qualquer categoria; </span></li>
                                        <li><span>Citação do nome do patrocinador, como ouro, pelo mestre de cerimônia na abertura do evento e quando do encerramento. </span></li>
                                        <li><span>Valor da Contrapartida (investimento): R$ 600,00</span></li>

                                    </ul>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

    
                        </div>
                    </div>
                    <!-- Counter Item End -->
                    
                    <!-- Counter Item Start -->
                    <div class="counter--item col-md-2">
                        <div class="icon">
                            <img src="img/counter-img/icon-03.png" alt="" data-rjs="2">
                        </div>

                        <div class="info">
                            <a data-toggle="modal" data-target="#modalprata"><img src="{% static 'img/prata 2.jpg' %}" alt="" data-rjs="2" width="100px;" height="100px;" class="image"></a>

                              <div class="modal fade" id="modalprata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cota Prata</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <ul>
                                        <li ><span>Inserção da logo da empresa apoiadora em todo material impresso do evento que for contratado e confeccionado, portanto exceto material cortesia ofertado por qualquer empresa e/ou instituição; </span></li>
                                        <li ><span>Direito de incluir brindes e materiais promocionais; </span></li>
                                        <li><span>Mídia Digital nas Redes Sociais;</span></li>
                                        <li><span>5 (cinco) inscrições de cortesia em qualquer categoria;</span></li>
                                        <li><span>Citação do nome do patrocinador, como prata, pelo mestre de cerimônia na abertura do evento e quando do encerramento.</span></li>
                                        <li><span>Valor da Contrapartida (investimento): R$ 400,00 </span></li>
                                    </ul>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

                            
                        </div>
                    </div>
                    <!-- Counter Item End -->

                    <!-- Counter Item Start -->
                    <div class="counter--item col-md-2">
                        <div class="icon">
                            <img src="img/counter-img/icon-04.png" alt="" data-rjs="2">
                        </div>

                        <div class="info">
                            <a class="image" data-toggle="modal" data-target="#modalbronze"><img src="{% static 'img/bronze 2.jpg' %}" alt="" data-rjs="2" width="100px;" height="100px;"></a>

                                <div class="modal fade" id="modalbronze" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cota Bronze</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <ul>
                                <li ><span>Inserção da logo da empresa em todo material impresso do evento que for contratado e confeccionado, portanto exceto material cortesia ofertado por qualquer empresa e/ou instituição;</span></li>
                                <li><span>Direito de incluir brindes e materiais promocionais;</span></li>
                                <li ><span>Mídia Desk; </span></li>
                                <li><span>2 (duas) inscrições de cortesia em qualquer categoria;</span></li>
                                <li><span>Citação do nome do patrocinador, como bronze, pelo mestre de cerimônia na abertura do evento e no encerramento. </span></li>
                                <li><span>Valor da Contrapartida (investimento): R$ 300,00.</span></li>
                            </ul>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

                            
                        </div>
                    </div>
                    <!-- Counter Item End -->
                </div>
            </div>
        </div>
        <!-- Counter Section End -->

        <!-- Gallery Section Start -->
        <div class="gallery--section pd--100-0">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section--title">
                    <h2 class="h2">Patrocinadores</h2>

                </div>
                <!-- Section Title End -->

                <!-- Gallery Items Start -->
                <div class="gallery--items row">
                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="computer mobile laptop">
                        <div class="gallery--img">
                            <img src="{% static 'img/capes.png' %}" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Fundação CAPES</h3>

                                        <p>Programa de Apoio a Eventos no País (PAEP)</p>

                                         <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/CAPESMEC/"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="http://www.capes.gov.br/apoio-a-eventos/paep"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="laptop other tablet">
                        <div class="gallery--img">
                            <img src="{% static 'img/fapern.PNG' %}" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">FAPERN</h3>

                                        <p>Fundação de Apoio à Pesquisa do RN</p>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://www.facebook.com/FAPERN"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="http://www.fapern.rn.gov.br/"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="tablet computer mobile">
                        <div class="gallery--img">
                            <img src="{% static 'img/brisanet-logo (1).png' %}" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Brisanet Telecomunicações</h3>

                                        <p>Conectando você ao mundo.</p>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/brisanet"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.brisanet.com.br/home/"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="mobile laptop other">
                        <div class="gallery--img">
                            <img src="{% static 'img/avante.jpeg' %}" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Avante comunicação</h3>

                                        <p>Agência de publicidade.</p>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://www.facebook.com/pages/Avante-Comunica%C3%A7%C3%A3o-Pau-dos-Ferros/1588284974768749"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.facebook.com/pages/Avante-Comunica%C3%A7%C3%A3o-Pau-dos-Ferros/1588284974768749"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="other tablet">
                        <div class="gallery--img">
                            <img src="{% static 'img/LOGO_QUEIROZ.png' %}" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Rede queiroz</h3>

                                        <p>Rede de supermercados.</p>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/Rede-Queiroz-Pau-dos-Ferros-193507020990866/">
                                                <i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="http://www.redequeiroz.com.br/site_lojas.php"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="computer mobile">
                        <div class="gallery--img">
                            <img src="img/gallery-img/gallery-item-06.jpg" alt="" data-rjs="2" style="width: 291px; height: 218px;">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Other Servecing</h3>

                                        <p>Catagory : Other Repair</p>

                                        <div class="btn-groups">
                                            <a href="gallery-details.html" class="btn btn-default"><i class="fa fa-chain"></i></a>
                                            <a href="img/gallery-img/gallery-item-06.jpg" class="btn btn-default" data-popup="img"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="laptop other">
                        <div class="gallery--img">
                            <img src="img/gallery-img/gallery-item-07.jpg" alt="" data-rjs="2">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Motherboard Servecing</h3>

                                        <p>Catagory : Computer Repair</p>

                                        <div class="btn-groups">
                                            <a href="gallery-details.html" class="btn btn-default"><i class="fa fa-chain"></i></a>
                                            <a href="img/gallery-img/gallery-item-07.jpg" class="btn btn-default" data-popup="img"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->

                    <!-- Gallery Item Start -->
                    <div class="gallery--item col-md-3 col-xs-6 col-xxs-12" data-cat="tablet computer">
                        <div class="gallery--img">
                            <img src="img/gallery-img/gallery-item-08.jpg" alt="" data-rjs="2">

                            <div class="gallery--info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <h3 class="h4">Other Servecing</h3>

                                        <p>Catagory : Other Repair</p>

                                        <div class="btn-groups">
                                            <a href="gallery-details.html" class="btn btn-default"><i class="fa fa-chain"></i></a>
                                            <a href="img/gallery-img/gallery-item-08.jpg" class="btn btn-default" data-popup="img"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item End -->
                </div>
                <!-- Gallery Items End -->

            </div>
        </div>
        <!-- Experts Section Start -->

{% endblock %}
