
{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    
    <!-- Preloader Start -->
    <div class="preloader bg--color-theme"></div>
    <!-- Preloader End -->
    
    <!-- Wrapper Start -->
    <div class="wrapper">
   

        <!-- Page Header Section Start -->
        <div class="page-header--section text-center">
            <!-- Page Title Start -->
            <div class="page--title pd--130-0" data-bg-img="{% static 'img/BACK.jpg' %}">
                <div class="container">
                    <h1 class="h1">Seja um patrocinador!</h1>
                </div>
            </div>
            <!-- Page Title End -->

          >
        </div>
        <!-- Page Header Section End -->

        <!-- Experts Section Start -->
        <div class="experts--section pd--100-0-70">
            <div class="container">
                <!-- Expert Members Start -->
                <div class="expert--members row AdjustRow">
                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/capes.png' %}" alt="" data-rjs="2"  style="width: 291px; height: 218px;">
                             <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="name">
                                            <h3 class="h5">Fundação CAPES</h3>
                                        </div>

                                        <div class="role">
                                            <p>Programa de Apoio a Eventos no País (PAEP)</p>
                                        </div>

                                        <div class="content">
                                            <p></p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/CAPESMEC/"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://www.capes.gov.br/apoio-a-eventos/paep"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <!-- Expert Member End -->

                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/fapern.PNG' %}" alt="" data-rjs="2"  style="width: 291px; height: 218px;">
                              <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="name">
                                            <h3 class="h5">FAPERN</h3>
                                        </div>

                                        <div class="role">
                                            <p>Fundação de Apoio à Pesquisa do RN</p>
                                        </div>

                                        <div class="content">
                                            <p></p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://www.facebook.com/FAPERN"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://www.fapern.rn.gov.br/"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- Expert Member End -->

                    <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/brisanet-logo (1).png' %}" alt="" data-rjs="2"  style="width: 291px; height: 218px;">
                             <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="name">
                                            <h3 class="h5">Brisanet Telecomunicações</h3>
                                        </div>

                                        <div class="role">
                                            <p>Conectando você ao mundo.</p>
                                        </div>

                                        <div class="content">
                                            <p></p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/brisanet"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.brisanet.com.br/home/"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->

                      <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/avante.jpeg' %}" alt="" data-rjs="2"  style="width: 291px; height: 218px;">
                                  <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="name">
                                            <h3 class="h5">Avante comunicação</h3>
                                        </div>

                                        <div class="role">
                                            <p>Agência de publicidade.</p>
                                        </div>

                                        <div class="content">
                                            <p></p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://www.facebook.com/pages/Avante-Comunica%C3%A7%C3%A3o-Pau-dos-Ferros/1588284974768749"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.facebook.com/pages/Avante-Comunica%C3%A7%C3%A3o-Pau-dos-Ferros/1588284974768749"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->

                      <!-- Expert Member Start -->
                    <div class="expert--member col-md-4 col-xs-6">
                        <div class="expert--member-img">
                            <img src="{% static 'img/LOGO_QUEIROZ.png' %}" alt="" data-rjs="2"  style="width: 291px; height: 218px;">
                            <div class="expert--member-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="name">
                                            <h3 class="h5">Rede queiroz</h3>
                                        </div>

                                        <div class="role">
                                            <p>Rede de supermercados.</p>
                                        </div>

                                        <div class="content">
                                            <p></p>
                                        </div>

                                        <div class="social">
                                            <ul class="nav">
                                                <li><a href="https://pt-br.facebook.com/Rede-Queiroz-Pau-dos-Ferros-193507020990866/">
                                                <i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="http://www.redequeiroz.com.br/site_lojas.php"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Expert Member End -->

             
                </div>
                <!-- Expert Members End -->
            </div>
        </div>
        <!-- Experts Section Start -->

{% endblock %}
