{% extends 'cbvadmin/semantic-ui/base_site.html' %}
{% block title %}Painel{% endblock %}
{% block content %}
{% if counters %}
<div class="ui four stackable cards">
{% for counter in counters %}
  <div class="card">
    <div class="content center aligned">
      <div class="ui statistic">
        <div class="value">
          {{ counter.value }}
        </div>
        <div class="label">
          {{ counter.name }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if request.user.inscricao %}
<div class="ui two stackable cards">
  {% with inscricao=request.user.inscricao %}
  <div class="card">
    <div class="content">
      <div class="header">Inscrição</div>
      <table class="ui table">
        <tr>
          <td>{{ inscricao.tipo }}</td>

          {% if inscricao.validado %}
          {% if inscricao.tipo.preco > 0 %}
          <td class="{{ inscricao.pagamento|yesno:'positive,negative'}}">{{ inscricao.get_pagamento_display }}</td>
          {% else %}
          <td class="positive">Isento</td>
          {% endif %}
          {% else %}
          <td class="negative">Não validada</td>
          {% endif %}
        </tr>
      </table>
     </div>
     {% if inscricao.validado %}
     {% if inscricao.pagamento != 1 and inscricao.tipo.preco > 0 %}
     <a class="ui bottom attached button" href="{% url 'cbvadmin:pagar' %}">
       <i class="usd icon"></i> Pagar
     </a>
     {% else %}
     <div class="center aligned extra content">
       Inscrição paga
     </div>
     {% endif %}
     {% else %}
     <div class="center aligned extra content">
       Inscrição não validada
     </div>
     {% endif %}
  </div>
  {% endwith %}
  <div class="card">
    <div class="content">
      <div class="header">Trabalhos</div>
        <div class="ui celled big list">
          {% for trabalho in trabalhos %}
          <div class="item">
            <div class="header"><a href="{% url 'cbvadmin:trabalhos_trabalho_detail' trabalho.pk %}">{{ trabalho.titulo }}</a></div>
            <div>{{ trabalho.area_tema }}</div>
            <div>
              <div class="ui {% spaceless %}
              {% if object.situacao == 1 %}
                green
              {% elif object.situacao == 2 %}
                red
              {% elif object.situacao == 3 %}
                orange
              {% else %}
                grey
              {% endif %}
              {% endspaceless %} label">
                {{ trabalho.get_situacao_display }}
              </div>
            </div>
          </div>
          {% empty %}
          <div class="item">
            <div class="header">Nenhum trabalho submetido</div>
            Aperte o botão submeter trabalho para enviar seu trabalho
          </div>
          {% endfor %}
        </div>
     </div>
     {% if not trabalhos %}
     <a class="ui bottom attached button" href="{% url 'cbvadmin:trabalhos_trabalho_add' %}">
       <i class="send icon"></i> Submeter trabalho
     </a>
     {% else %}
     <div class="center aligned extra content">
       Já foi submetido trabalho
     </div>
     {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
