
{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    
    <!-- Preloader Start -->
    <div class="preloader bg--color-theme"></div>
    <!-- Preloader End -->
    
     <!-- Wrapper Start -->
    <div class="wrapper">
   

        <!-- Page Header Section Start -->
        <div class="page-header--section text-center">
            <img src="{% static 'img/alojamento_solidario.jpg' %}">
             
                 <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row">
                                    <!-- Banner Content Start -->
                                    <div class="banner--content .col-xs-6 .col-md-10">
                                        
                                    </div>
                                     <div class="banner--content .col-xs-6 .col-md-2">

                                        <h1></h1>

                                        <p></p>
                                        <p></p>
                                        <p></p>

                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOfKS811L--rogD0idr-ZhBBVfTajU4_Wip_YLaLFZkCNZ3g/viewform" class="btn btn-default">Faça a sua reserva aqui!</a>
                                    </div>
                                    <!-- Banner Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <!-- Page Header Section End -->


       

{% endblock %}
