{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/BACK.jpg' %}">
		<div class="container">
			<h1 class="h1">Alojamentos</h1>
		</div>
	</div>
	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->



<div class="container">
	<div class="row">
		<div class="col-md-12 text-center un-mtb-10-rem">
			<h2><br>
				<small>O X Fórum Internacional de Pedagogia disponibilizará alojamento co-participativo, o que
demonstra o interesse em promover a acessibilidades a todos os estudantes interessados em participar do
evento. Contamos com a imprescindível responsabilidade individual e coletiva que envolve o uso
ordeiro dos espaços ofertados para o alojamento que terá como espaço a própria universidade sede do
evento e/ou universidades parceiras. O uso do alojamento, implica, por parte do participante, a aceitação
espontânea e de boa vontade dos princípios estabelecidos no presente regulamento e da rigorosa
obediência às determinações da Comissão Organizadora do X FIPED. Não serão aceitas infrações
alegando desconhecimento destas normas.</small>
			</h2>
		</div>
	</div>


</div>

<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2>01</h2>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>NORMAS</h3>
			<p>Quem pode fazer a inscrição no alojamento?
			</p>
			<p>A inscrição para uma vaga em alojamento poderá ser feita apenas por alunos do ensino superior
que já estiver efetivamente inscrito no X FÓRUM INTERNACIONAL DE PEDAGOGIA – X FIPED e
com a taxa de inscrição do evento quitada. O alojamento possui número de vagas restrito, por isso serão
priorizados os(as) alunos(as) de localidades distantes.</p>
			
		</div>
	</div>
</div>



<div class="container un-mtb-5 normas">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<h2 class="display-1">02</h2>
		</div>
		<div class="col-md-10 col-sm-9 ">
			<h3>Como fazer a inscrição de alojamento?</h3>
			<p>As inscrições serão efetuadas na ÁREA DO CONGRESSISTA.</p>
			<p>Entre com seu login (e-mail) e senha (CPF) na área do congressista; Ao entrar clique no ícone
ADICIONAR ATIVIDADES; Selecione o item ALOJAMENTO, optando se COLETIVO (por
CARAVANA ou se INDIVIDUAL).</p>
		</div>
	</div>
</div>



	<div class="container un-mtb-5 normas">
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">03</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Pagamento</h3>
				<p>Para o alojamento COLETIVO (com opção por CARAVANA ou INDIVIDUAL) será cobrado o
valor de R$ 40,00 por pessoa para o período completo do evento. Esse valor garantirá a higienização dos
espaços de uso coletivo, porém, a inscrição no evento deve estar devidamente quitada. O valor do
alojamento será pago no ato da inscrição do congressista no alojamento.</p>
			
			</div>
		</div>
	</div>


	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">04</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Prazo de inscrição no alojamento</h3>
				<p>O prazo de inscrição no alojamento está atrelado ao número de vagas disponíveis e as datas de
pagamento estipuladas no evento.</p>
				

			</div>
		</div>
	</div>



	<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">05</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Confirmação do alojamento</h3>
				<p>A confirmação do alojamento será feita no próprio sítio do evento. Para tanto, até essa data, o
participante deverá estar com inscrição quitada e inscrito na vaga de alojamento.
				</p>
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">

		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">06</h2>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>Local do alojamento e espaço de uso:</h3>
				<p>Os espaços serão na UERN (sede do evento) e nas IES
parceiras.</p>
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">07</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Credenciamento</h3>
				<p>O credenciamento para o alojamento será no próprio local. O participante deverá apresentar o
RG ou qualquer documento de identificação com foto (carteira de motorista, reservista) e
FORMULÁRIO DE CADASTRO devidamente preenchido e assinado, bem como, o comprovante de
quitação do evento.</p>
				

			</div>
		</div>
	</div>

	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">08</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Período da hospedagem</h3>
				<p>A partir das 8h do dia 27 de novembro de 2018 e a saída até as 8h do dia 01 de dezembro de
2018. Durante o evento, o acesso ao alojamento poderá ser a qualquer hora, mediante a apresentação de
documento de identificação para o alojamento.</p>
			
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">09</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Transporte e alimentação</h3>
				<p>esses itens não estão inclusos no alojamento.</p>
			
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">10</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Material de uso pessoal</h3>
				<p>é necessário que o congressista se responsabilize por seu colchão, roupa
de cama e banho (colchonete ou colchão inflável, cobertor, travesseiro, toalhas, etc.), além de material
de higiene pessoal.</p>
			
			</div>
		</div>
	</div>

	<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1"></h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Importante: NÃO SERÁ DISPONIBILIZADO NO LOCAL COLCHÃO OU COLCHONETE.</h3>
				<p>
				É responsabilidade do participante trazer todos objetos de toalete, bem como a sua própria
toalha. Além de trazer seu próprio colchonete, traga lençol fino, considerando o clima da região ser
extremamente quente, além de garrafa térmica para água para se manter hidratado(a).</p>
			
			</div>
		</div>
	</div>


		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">11</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Bagagem</h3>
				<p>No alojamento não haverá espaço privativo para a guarda de objeto pessoal. Cabe a cada congressista
conduzir sua bagagem com cadeado ou outros itens de segurança, pois a bagagem é de responsabilidade
do alojado(a). Durante sua ausência do alojamento, não deixe objetos de valor, pois não garantiremos a
guarda dos pertences. A Comissão Organizadora do X FIPED não se responsabilizará por danos morais
ou materiais que possam ocorrer com os alojados.</p>
			
			</div>
		</div>
	</div>



		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">12</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Fica terminantemente PROIBIDO no âmbito dos alojamentos:</h3>
				<ul>
					<li>Permanência de pessoas que não estejam devidamente credenciadas para um determinado
alojamento, como por exemplo: acompanhantes, familiares e outros;</li>
					<li>Uso de sistema de som e/ou similares;</li>
					<li>Banho em trajes e locais inadequados;</li>
					<li>Circular com trajes inadequados (trajes íntimos);</li>
					<li>Utilizar o alojamento para promoção de festa e desordem;</li>
					<li>Transportar do alojamento qualquer objeto e/ou equipamento pertencente a terceiros ou ao local.</li>
					<li>Colocar cartazes e/ou similares nas paredes do alojamento;</li>
					<li>Qualquer atitude que resulte em depredação ou dano ao local do alojamento;</li>
					<li>Atritos, brigas e/ou discussões com colegas;</li>
					<li>Desrespeitar o sono e o descanso dos colegas;</li>
					<li>Consumo de qualquer tipo de droga ilícita;</li>
					<li>Consumo de álcool e fumar no ambiente interno do alojamento;</li>
					<li>Desrespeito para com os colegas ou com a organização do evento.</li>
				</ul>
			
			</div>
		</div>
	</div>

		<div class="container un-mtb-5 normas">
		<div class="row">

			<div class="col-md-2 col-sm-3 text-center">
				<h2 class="display-1">13</h2>
			</div>
			<div class="col-md-10 col-sm-9 ">
				<h3>Cadastro: o cadastro e a vaga no alojamento É INTRANSFERÍVEL</h3>
				<p>ATENÇÃO: o participante que incorrer em uma das recomendações acima ou apresentar
comportamento social indevido será convidado a se retirar do local. Em caso de danos ao patrimônio,
deverá ocorrer a indenização pelo causador do prejuízo. É importante e necessário que o alojado use
sempre o seu crachá de identificação, para facilitar o relacionamento interpessoal e com a organização
do evento. Mantenha seus pertences sempre bem organizados e o seu espaço bem limpo.</p>
			</div>
		</div>
	</div>
<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}