
{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    
    <!-- Preloader Start -->
    <div class="preloader bg--color-theme"></div>
    <!-- Preloader End -->
    
     <!-- Wrapper Start -->
    <div class="wrapper">
   

        <!-- Page Header Section Start -->
        <div class="page-header--section text-center" style="position: relative;">
            <img src="{% static 'img/alojamento_solidario.jpg' %}">
             
                 

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOfKS811L--rogD0idr-ZhBBVfTajU4_Wip_YLaLFZkCNZ3g/viewform" class="btn btn-default" style="float: right;">Faça a sua reserva aqui!</a>
                                   
        </div>
        <!-- Page Header Section End -->


       

{% endblock %}
