
{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
    
    <!-- Preloader Start -->
    <div class="preloader bg--color-theme"></div>
    <!-- Preloader End -->
    
     <!-- Wrapper Start -->
    <div class="wrapper">
   

        <!-- Page Header Section Start -->
        <div class="page-header--section text-center">
            <div class="cta--section">
        <div class="pricing-single--section un-pd-5">
            <div class="container">
                

                <!-- Pricing Single Content Start -->
                <div class="pricing-single--content ">
                                <div class="row">
                        <div class="col-md-12 text-center un-mtb-10-rem">
                            <h2 style="color: #d9d9d9"><br>
                                <small></small>
                            </h2>
                        </div>
                    </div>

              <img src="{% static 'img/alojamento_solidario.jpg' %}">

       
        
                </div>
            </div>
        </div>
        <div>
        </div>
</div>

        </div>
        <!-- Page Header Section End -->


       

{% endblock %}
