{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/pau-dos-ferros.jpg' %}">
		<div class="container">
			<h1 class="h1">Sobre a Cidade</h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->



<div class="container un-pd-5">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="text-center">
				<h3 class="h3"><small>O X FIPED será realizado em Pau dos Ferros - RN</small></h3>
				<h3 class="h1 un-mb-5">CONHEÇA PAU DOS FERROS</h3>
			</div>
		</div>
	</div>
	<div class="row" style="font-size: 15px;">
		<div class="col-sm-4">
			<h2 class="h3 text-right un-mb-3">A história e o desenvolvimento de Pau dos Ferros deram-lhe diversos títulos, entre eles o de "Cidade Acadêmica"</h2>
		</div>
		<div class="col-sm-4">
			<p>
				Emancipado de Portalegre, o nome "Pau dos Ferros" é referência a uma árvore que, pela sua grande dimensão, oferecia sombra e consequentemente um local para repouso dos vaqueiros que deram origem ao povoamento da região.[9] Sua população no censo demográfico de 2010 era de 27 745 habitantes, segundo o Instituto Brasileiro de Geografia e Estatística, sendo então o décimo oitavo mais populoso do estado, embora, pela polarização da cidade, passem pela sede do município cerca de cinquenta mil pessoas por dia.
			</p>

		</div>
		<div class="col-sm-4">
			<p>
				O município possui alguns atrativos históricos e culturais, entre os quais a Igreja Matriz de Nossa Senhora da Conceição, construída em 1738, vindo a se tornar matriz de uma freguesia em 1756, além do Obelisco da Praça Monsenhor Caminha, construído em homenagem ao centenário de emancipação política e ao bicentenário da paróquia. Dentre os atrativos culturais está a Feira Intermunicipal de Educação, Cultura, Turismo e Negócios do Alto Oeste Potiguar (FINECAP), importante exposição cultural e econômica.

				</p><p><strong><small>Disponível em: https://pt.wikipedia.org/wiki/pau_dos_ferros. Acesso em: 08.08.2018.</small></strong></p>
			<p></p>
		</div>
	</div>
</div>
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}