{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/Coordenação_geral_e_Comissão_Organizadora.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
    <div class="heading text-center">
        <h2>Comitê  organizador do X FIPED</h2>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong></strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center"></td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Profa. Dra Maria Lúcia Pessoa Sampaio - Presidente da coordenação geral</li>
                        <li>Profa. Dra Sheyla Maria Fontenele Macedo – Vice presidente da coordenação geral</li>
                        <li>Discente José Mário de Souza – Cordenação  geral</li> 
                        <li>Dnda Cássia da Silva – Secretaria </li>
                        <li>Profa Dra Cristiane Maria Nepomuceno – UEPB – Presidente da AINPGP </li>
                        <li>Prof. Dr. Marcelo Pustilnik Vieira  - UFSM - Vice-presidente da AINPGP</li>
                        <li>Prof. Dr. Glaydson Francisco Barros de Oliveira – UFERSA</li>
                        <li>Prof. Dr. Emanuel Neto Alves de Oliveira – IFRN</li>
                        <li>Profa. Ma. Genisa Lima de Souza Raulino – FACEP</li>
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
    <div class="heading text-center">
        <h2>Comissões organizadoras</h2>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Alojamento</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Sheila Danielle Fernandes de Souza</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Jéssica Vanessa Menezes Fernandes</li>
                        <li>Maria Emanuela da Silva Souza</li>
                        <li>Maria Beatriz Fernandes</li> 
                        
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Atividades integradoras</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Maria Eridan da Silva Santos e Dandara Queiroga de Oliveira Sousa</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Francisca Ielândia Jacinto de Oliveira</li>
                        <li>Ivone Estevam da Silva</li>
                        <li>Maria do Socorro Dantas Paulino</li> 
                        <li>Maria Edna Fernandes Pinheiro</li>
                        <li>Maria Elvira de Oliveira Lopes</li>
                        <li>Maria Vanessa da Silva Barros</li>
                        <li>Taiza Kelly da Silva</li>
                        
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Científica</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Profa. Dra. Simone Cabral Marinho dos Santos (UERN)</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Professores(as) e alunos (as) componentes dos GT’s</li>
                                              
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Comunicação, divulgação e marketing</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: José Carlos Redson</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Cícero Otávio de Lima Paiva</li>
                        <li>Iandra Fernandes Pereira Caldas</li>
                        <li>Francisco Reginaldo Linhares</li>
                        <li>Gabriela Oliveira Lim</li>
                        <li>Lídia Rafaela Alves Batista</li>
                        <li>Mayara Raquel Amorim de Oliveira</li>
                        <li>Maria das Graças de Oliveira Pereira</li>
                        <li>Orfa Noemi Gamboa Padilla</li>
                        <li>Rosângela Alves dos Santos Bernardino</li>
                        <li>Talita Araújo Costa</li>
                                              
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Cerimonial</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Keutre Glaúdia da Conceição Soares Bezerra</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Marília Cavalcante de Freitas Moreira (a confirmar)</li>
                        <li>Jose Gevildo Viana </li>
                        <li>Antonia Gerlania Vieira de Medeiros (sugestão a confirmar)</li>
                        
                                              
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Inclusão da pessoa com deficiência</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Disneylândia Maria Ribeiro</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Adriana Moreira de Souza Corrêa</li>
                        <li>Cristiane de Fátima Costa Freire</li>
                        <li>Dejânia Maria da Silva Souza</li>
                        <li>João Filho de Queiros</li>
                        <li>Karine Nascimento Accioly</li>
                        <li>Michaell Magnos Chaves de Oliveira</li>
                        <li>Michelle Mayra Palmeira Cordeiro</li>
                                                                     
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Inscrição</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Glaydson Francisco Barros de Oliveira</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="text-align: justify;">
                        <li>Bárbara Suelen Paulo dos Santos</li>
                        <li>Bruna Fernandes Martins</li>
                        <li>Otávio Paulino Lavor</li>
                        <li>Sanderlir Silva Dias</li>
                        <li>Maria da Conceição Oliveira</li>
                        <li>Maximiliano Paulo dos Santos</li>
                                                                     
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Línguas estrangeiras (ESPANHOL e INGLÊS)</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Noemi Gamboa e Marcos Luz</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>Língua Espanhola:
                        <ul style="text-align: justify;">
                        <li>Profa. Noemi Gamboa</li>
                        <li>Profa. Carolina Bento</li>
                        <li>Grupo de alunos do 7º e 8o períodos da graduação em Letras Espanhol.</li>
                              
                        </ul>
                        </td>
                        <td>Língua Inglesa:
                        <ul>
                            <li>Prof. Marcos Luz</li>
                            <li>Prof. Erick Silva </li>
                            <li>Grupo de alunos do 7º e 8o períodos da graduação em Letras Inglês.</li>
                        </ul>
                    </td>
                </tr>
               
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Logística (INFRAESTRUTURA, TRANSPORTE, SOM ILUMINAÇÃO, ETC.)</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Maria Eliane Souza da Silva, Rafael Demétrius Rodrigues de Sousa</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Débora Katiene Pinheiro Sizenando</li>
                        <li>José Raul de Sousa</li>
                        <li>Luciano Dias Delfino</li>
                        <li>Renata Paiva de Freitas</li>
                        <li>Taysa Kelly da Silva</li>
                              
                        </ul>
                            
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Monitoria</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Ananias Agostinho da Silva</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Luzia Dias Araújo</li>
                        <li>Rafaela Rodrigues</li>
                        <li>Sandra Sinara Bezerra</li>
                        <li>Ana Luiza Nunes Bezerra</li>
                        <li>Lídia Rafaela Alves Batista</li>
                              
                        </ul>
                            
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Orçamento e finanças</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação:Francicleide Cesário de Oliveira</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Diana Maria Leite Lopes Saldanha</li>
                        <li>Kaíza Maria Alencar de Oliveira</li>
                        <li>Sidneia Maia de Oliveira Rego (nome a confirmar)</li>
                                                 
                        </ul>
                          <p>* Gerir os recursos financeiros, com a anuência da coordenação geral;</p>   
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Recepção e transportes</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação:Maria do Socorro Maia Fernandes Barbosa</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Cícero Barbosa Nunes</li>
                        <li>Letícia da Silva Gonzaga</li>
                        <li>Técnicos do Serviço de Transportes do CAMEAM e demais IES</li>
                                                 
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Secretaria</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação:Nayanne Costa Rocha e Joana Darc do Nascimento Barros.</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Abraao Vitoriano de Sousa</li>
                        <li>Bianara da Silva Franco</li>
                        <li>Francisca Ligia Nunes</li>
                        <li>Francisca Ticiany B. Lopes de Oliveira</li>
                        <li>Francisco Bezerra de Lima</li>
                        <li>Jociélia Sousa</li>
                        <li>Maria Ameliane figueiredo</li>
                        <li>Maria Selene de Carvalho </li>
                        <li>Marisa Alana N. Barros e Almeida</li>
                        <li>Naderglan Lima</li>
                        <li>Rafaela Rodrigues</li>
                        <li>Raimunda Maia de Oliveira Neta</li>
                        <li>Renata Mariana nogueira de Andrade</li>
                                                 
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>



<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>Tecnologia e informática</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Luís Miguel Dias Caetano</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>                         
                    <ul style="text-align: justify;">
                        <li>Márcia Mychelle Nogueira do Nascimento</li>
                      
                                                 
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody><tr class="un-bg-yellow text-white">
                    <td colspan="2" class="text-center"><strong>IV SEMAP (SEMINÁRIO DE PEDAGOGIA DO PARFOR)</strong></td>
                </tr>
                <tr class="bg-light text-dark">
                    <td colspan="2" class="text-center">
                        <h3>
                <small>Coordenação: Ciclene Alves da Silva, Diana Maria Leite Lopes Saldanha, Maria Lúcia Pessoa Sampaio e Simone Cabral Marinho dos Santos</small>
            </h3>
                    </td>
                </tr>
                <tr>
                    <td>TURMA A – Ped. PARFOR:                        
                        <ul style="text-align: justify;"> 
                        <li>Krysllany Days Pereira Leite </li>
                        <li>Raquel de Oliveira Rodrigues </li>
                        </ul>
                    </td>
                    <td>TURMA B – Ped. PARFOR:
                        <ul>
                        <li>Antonia Soares Alves</li>
                        <li>Francisco Bezerra de Lima</li>
                        <li>Maria do Socorro Dantas</li>
                        <li>Francisca Lígia Nunes</li>
                        <li>Maria Selene de Carvalho</li>
                        </ul>
                    </td>
                    
                </tr>
                <tr>
                    <td>TURMA C– Ped. PARFOR:
                        <ul>
                        <li>Arthur Leandro da Costa</li>
                        <li>José Mário de Souza</li>
                        <li>Francisca Deusimere de O. Silva</li>
                        <li>Francisca  Lucelia da Silva Matias</li>
                        <li>Francisca Marciana Pereira da Silva</li>
                        <li>Maria Aparecida do Nascimento</li>
                        <li>Maria Antônia Macena</li>                          
                        </ul>
                    </td>
                    <td>TURMA D – Ped. PARFOR:
                        <ul>
                            <li>Carlos César Bessa</li>
                            <li>Fransuilma Lima Cavalcante</li>
                            <li>Maria Luzani Viana Alves</li>
                            <li>Rosane Fainny de Oliveira Medeiros</li>
                            <li>Solange Maria de Oliveira Pinto</li>
                        </ul>
                    </td>
                </tr>
               
            </tbody></table>
        </div>
    </div>
</div>


<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock %}