{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--img bg--overlay" data-rjs="2" data-bg-img="{% static 'img/COMO_CHEGAR.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


<div class="container un-mtb-10-rem">
	<div class="row d-flex align-items-center flex-wrap">
		<div class="col-md-12 text-center">
			<h1 class="h2"><small>Endereço da UERN e a sua localização.</small></h1>
		</div>
	</div>
</div>


<div class="container un-mtb-10-rem">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<p>
				</p><h3>Campus Avançado "Profa. Maria Elisa de Albuquerque Maia" (CAMEAM)</h3>
				<i>Site do Campus: </i> <a href="http://pferros.uern.br/">http://pferros.uern.br</a>
				<br>Telefone: (84) 3351-2560
				<br>Fax: (84) 3351 3909
				<br>Email: pferros@uern.br
				<hr>
				<address>
					<i>Endereço:</i>
					<br>BR 405, KM 153
					<br>Bairro: Arizona – CEP: 59900-000
					<br>Pau dos Ferros-RN
				</address>
			<p></p>
			<!-- <p><a href="https://goo.gl/maps/K9DCfYPari22" title="Abri em uma nova janela" class="btn btn-default" target="_blank">Abrir no GoogleMaps</a></p> -->
		</div>
		<div class="col-md-8 col-sm-12">
			<!-- <iframe src="" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31736.798282175252!2d-38.2259992132824!3d-6.117268245039042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bb3334a8380f33%3A0x4bacc8555d36dc69!2sUniversidade+do+Estado+do+Rio+Grande+do+Norte+-+Campus+Avan%C3%A7ado+de+Pau+dos+Ferros!5e0!3m2!1spt-BR!2sus!4v1534246412099" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>


<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do maior Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}