{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/DATAS_IMPORTANTES.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section FvEnd -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
    <div class="heading text-center">
        <h2><br><small>Confira as datas importantes do evento! Fique sempre atento (a) às atualizações nesta página!</small></h2>
    </div>
</div>


<hr>
<div class="container">
	<div class="row">
	<!-- 	<div class="col-md-12">
			<h2>Datas Importantes</h2>
			<p>Fique sempre atento às atualizações nesta página!</p>
			<hr>
		</div> -->
	</div>

	<div class="row">
		<div class="col-md-3">
			<small><strong>15 de Outubro de 2018</strong></small>
			<h5>SUBMISSÃO DE TRABALHO</h5>
			<p style="text-align: justify;">Prazo máximo para submissão de trabalho de comunicação oral e proposição de oficinas em pesquisa.</p>
		</div>
		<div class="col-md-3">
			<small><strong>25 de novembro de 2018</strong></small>
			<h5>INSCRIÇÕES</h5>
			<p style="text-align: justify;">Prazo máximo para fazer sua inscrição (sem trabalhos de comunicação oral e participação em oficinas). Acesse o link Formulário em Inscrições.</p>

		</div>
		<div class="col-md-3">
			<small><strong>25 de novembro de 2018</strong></small>
			<h5>PAGAMENTO</h5>
			<p style="text-align: justify;">Prazo máximo para efetuar o pagamento para quem não participará de trabalhos de comunicação e oficinas em pesquisas: 25 de novembro de 2018. Para efetuar o pagamento é necessário estar inscrito no evento.</p>
			<p style="text-align: justify;">A participação em trabalhos de comunicação oral e oficinas possuem prazos estabelecidos. É importante ficar atentos (as) aos mesmos. </p>
		</div>
		<div class="col-md-3">
			<small><strong>Até 22 de Outubro de 2018</strong></small>
			<h5>TRABALHO CORRIGIDO</h5>
			<p style="text-align: justify;">Prazo final para envio das correções do trabalho de comunicação oral.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><hr></div>
	</div>


	<div class="row">
		<div class="col-md-3">
			<small><strong>Até 15 de Outubro de 2018</strong></small>
			<h5>INÍCIO DA INSCRIÇÃO EM OFICINAS APROVADAS</h5>
			<p style="text-align: justify;">Neste dia estaremos esperando por você no X FIPED.</p>
		</div>

		<div class="col-md-3">
			<small><strong>Até 10 de novembro de 2018</strong></small>
			<h5>TÉRMINO DA INSCRIÇÃO EM OFICINAS APROVADAS</h5>
			<p style="text-align: justify;">Último dia do X FIPED, já estaremos preparando a próxima edição.</p>
		</div>

		<div class="col-md-3">
			<small><strong>27 de Novembro de 2018</strong></small>
			<h5>INÍCIO DO EVENTO</h5>
			<p style="text-align: justify;">Neste dia estaremos esperando por você no X FIPED.</p>
		</div>

		<div class="col-md-3">
			<small><strong>30 de Novembro de 2018</strong></small>
			<h5>ENCERRAMENTO DO EVENTO</h5>
			<p style="text-align: justify;">Último dia do X FIPED, já estaremos preparando a próxima edição.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12"><hr></div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<small><strong>Até 20 de Janeiro de 2019</strong></small>
			<h5>PUBLICAÇÃO DOS CERTIFICADOS</h5>
			<p style="text-align: justify;">Entre em sua Área do participante e verifique.</p>
		</div>

		<div class="col-md-3">
			<small><strong>Até 20 de Janeiro de 2019</strong></small>
			<h5>PUBLICAÇÃO DO ANAIS</h5>
			<p style="text-align: justify;">Início da divulgação dos ANAIS. Entre no site do X FIPED e confira.
Publicação dos Anais do evento: O pagamento da inscrição do autor principal e coautores são obrigatórios para que os trabalhos sejam publicados nos anais. Os Anais do evento estarão disponíveis em até 60 dias úteis.</p>
		</div>

	
	</div>
</div>




<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}