{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/PUBLICAÇÕES.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->


<div class="container mt--60">
	<section class="section--title">
		<h2 class="h2">Anais/Ebooks do FIPED</h2>
	</section>
	<!-- 
	<div class="row">
		<div class="col-md-12">			
			
			<ul>
							</ul>
		</div> -->
		<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" target="_blank"><img src="{% static '/img/qf-anais-i.jpg' %}" class="img-rounded"></a>
				<h4 class="h4"> I Edição</h4>
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>

		<!-- <div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" target="_blank"><img src="{% static '/img/qf-anais-ii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4"> II Edição</h4>
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div> -->


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2012-ebook-fiped-iii.pdf" target="_blank"><img src="{% static '/img/qf-anais-iii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">III Edição</h4>
				<a href="/static/ebooks/2010-ebook-fiped-iii.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2012-ebook-fiped-iv.pdf" target="_blank"><img src="{% static '/img/qf-anais-iv.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">IV Edição</h4>
				<a href="/static/ebooks/2012-ebook-fiped-iv.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2013-ebook-fiped-v-2.pdf" target="_blank"><img src="{% static '/img/qf-anais-v-2.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">V Edição</h4>
				<a href="/static/ebooks/2013-ebook-fiped-v-2.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/ebook-fiped-vi.pdf" target="_blank"><img src="{% static '/img/qf-anais-vi.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VI Edição</h4>
				<a href="/static/ebooks/ebook-fiped-vi.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>
	
	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2013-ebook-fiped-v-1.pdf" target="_blank"><img src="{% static '/img/qf-anais-v-1.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VII Edição</h4>
				<a href="/static/ebooks/2013-ebook-fiped-v-1.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>

	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
			<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" target="_blank"><img src="{% static '/img/qf-anais-viii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VIII Edição</h4>
				<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>









	
			
		</div>
	</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: pulse;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}