{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}

<!-- Page Header Section Start -->
<div class="page-header--section text-center">
	<!-- Page Title Start -->
	<div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/PUBLICAÇÕES.jpg' %}">
		<div class="container">
			<h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
		</div>
	</div>
	<!-- Page Title End -->

	<!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Quick Fix</a></li>
			<li class="active"><span>About Us</span></li>
		</ul>
	</div>
</div>
-->
	<!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->



<div class="container mt--60">
	
		<div class="row">
	    <div class="col-md-12 text-center un-mtb-10-rem">
	      <h3>ORGANIZADORES</h3>
	      <ul>
	      	<li>Maria	Edneide	Ferreira	de	Carvalho</li>
	      	<li>Maria	Lúcia	Pessoa	Sampaio</li>
	      	<li>Diana	de	Souza	Rego	Pinto	Carvalho</li>
	      	<li>José	Carlos	Redson</li>
	      	<li>Francicleide	Cesário	de	Oliveira</li>
	      </ul>
	    </div>
	  </div>

	<section class="section--title">
		<h2 class="h2">Anais do	X Fórum	Internacional de Pedagogia</h2>
	</section>
	<div class="row">
    <div class="col-md-12 text-center un-mtb-10-rem">
      <h3>EDITORES</h3>
      <ul>
      	<li>Cassia	da	Silva</li>
		<li>Francisca	Geny	Lustosa	</li>
		<li>Abraão	Vitoriano	de	Sousa</li>
		<li>Disneylândia	Maria	Ribeiro</li>
		<li>Francisco	Reginaldo	Linhares</li>	
		<li>Ivana	de	Oliveira	Gomes	e	Silva</li>		
		<li>Kaiza	Maria	Alencar	de	Oliveira</li>	
		<li>Maria	Eridan	da	Silva	Santos</li>
		<li>Maria	Gorete	Paulo	Torres</li>	
		<li>Renata	Paiva	de	Freitas</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center un-mtb-10-rem">
      <h3>ISBN:	978-85-61693-24-4</h3>
      <p>
      	CCHLA-UFRN
      </p>
    </div>
  </div>

			
</div>


<div class="container mt--60">
	<section class="section--title">
		<h2 class="h2">Sumária</h2>
	</section>

<div class="container un-mtb-5 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody><tr class="un-bg-yellow text-white">
					<td colspan="2" class="text-center"><strong>01.	PESQUISAS EM ANCESTRALIDADE,	AFRICANIDADES E	RELAÇÕES ETNICO-RACIAIS	(GT 01)</strong></td>
				</tr>
				
				<tr>
					<td>1. A INTERDISCIPLINARIDADE E O ENSINO: UM ENFOQUE SOBRE AS RELAÇÕES ÉTNICORACIAIS </td>
					<td>
						
					<p>ANDREZA EMICARLA PEREIRA CAVALCANTE</p>
					<p>ANDREA PAULA REGO MAIA</p>
					<p>SIMONE CABRAL MARINHO DOS SANTOS</p>
					</td>
					
				</tr>

<tr>
					<td>2. A REPRESENTAÇÃO DA POPULAÇÃO NEGRA NA COMUNICAÇÃO BRASILEIRA: A
CONSTRUÇÃO DE UMA MÍDIA NEGRA PARA O EXERCÍCIO DA CIDADANIA</td>
					<td>
							<p> LUIZETE VICENTE DA SILVA</p>


					</td>
					
				</tr>

									<td>3. CURRÍCULO NA EDUCAÇÃO ESCOLAR QUILOMBOLA: ESTADO DO CONHECIMENTO NO PERÍODO DE 2012 A 2018</td>
					<td>
							<p>ELENILSON EVANGELISTA DA SILVA</p>
							<p>BENEDITO GONÇALVES EUGENIO</p>
							<p>ANDREA SANTOS OLIVEIRA</p>
							<p>ZELANIA DO CARMO SILVA</p>
					</td>
					
				</tr>


						<td>4. DA LITERATURA A HISTÓRIA: UM ESTUDO INTERDISCIPLINAR SOBRE OS AFRICANOS E
AFRICANAS NO BRASIL COLÔNIA</td>
					<td>
						<p>KEILA LAIRINY CÂMARA XAVIER</p>
					</td>
					
				</tr>


						<td>5. DO TERREIRO AO TEMPLO: SINCRETISMO E RELAÇÕES HÍBRIDAS NO PENTECOSTALISMO
PÓS-MODERNO </td>
					<td>
						<p>FRANCISCO REJANIO DE SOUSA SILVA</p>
					</td>
					
				</tr>

				<td>6. EDUCAÇÃO QUILOMBOLA E CURRÍCULO ESCOLAR: OLHARES SOBRE A PRÁTICA
EDUCATIVA DA ESCOLA ESTADUAL XAVIER FERNANDES </td>
					<td>
						<p>ÉLIDA JOYCE DE OLIVEIRA</p>
						<p>JOSE ALBERTO DA SILVA</p>
					</td>
					
				</tr>

		<td>7. IMPORTÂNCIA DA PRODUÇÃO DE MATERIAL INSTRUCIONAL E O ENSINO DAS RELAÇÕES
ÉTNICO-RACIAIS NA ESCOLA </td>
					<td>
						<p>NADIA FARIAS DOS SANTOS</p>
						<p>SIMONE CABRAL MARINHO DOS SANTOS</p>
					</td>
					
				</tr>

	<td>8. O CONTO ÚRSULA DE MARIA FIRMINA DOS REIS NA FORMAÇÃO ÉTNICO-RACIAL DAS
CRIANÇAS DOS ANOS INICIAIS</td>
					<td>
			<p>JULLIANA SILVA ENES CARVALHO</p>
					</td>
					
				</tr>

	<td>9. RELAÇÕES ÉTNICO-RACIAIS NO CONTEXTO ESCOLAR  </td>
					<td>
			<p>ANDRÊSSA GLAUCYARA SILVA RAMOS</p>
			<p>KÁSSIA MOTA DE SOUSA</p>
					</td>
					
				</tr>

	<td>10. RELIGIÕES AFRO-BRASILEIRAS: EM UM DEBATE A PARTIR DA BASE NACIONAL COMUM
CURRICULAR</td>
					<td>
			<p>MARIA JOSÉ DE ARAÚJO</p>
					</td>
					
				</tr>

	<td>11. TEATRO NEGRO: REPERCUSSÕES DA ARTE NA LUTA CONTRA O RACISMO </td>
					<td>
			<p>JOSIVANDO FERREIRA DA CRUZ</p>
			<p>NATÁLIA MIKAELY DA SILVA CAVALCANTE</p>
			<p>MARIA KELLYNIA FARIAS ALVES</p>
			<p>MARIA ANITA VIEIRA LUSTOSA </p>
					</td>
					
				</tr>

	<td>12. TRANSVERSALIZANDO A HISTÓRIA E CULTURA AFRODESCENDENTE NO ENSINO DE
GEOGRAFIA</td>
					<td>
			<p>FRANCISCO ANDERSON VARELA BEZERRA</p>
			<p>MARCOS ADAN DOS SANTOS MELO</p>
			<p>WILLYAN RAMON DE SOUZA PACHECO</p>
					</td>
					
				</tr>

	
				
			</tbody></table>

		</div>
	</div>
</div>

	


			
</div>


<div class="container mt--60">
	<section class="section--title">
		<h2 class="h2">Ebooks do FIPED</h2>
	</section>
	<!-- 
	<div class="row">
		<div class="col-md-12">			
			
			<ul>
							</ul>
		</div> -->
		<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" target="_blank"><img src="{% static '/img/qf-anais-i.jpg' %}" class="img-rounded"></a>
				<h4 class="h4"> I Edição</h4>
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>

		<!-- <div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" target="_blank"><img src="{% static '/img/qf-anais-ii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4"> II Edição</h4>
				<a href="/static/ebooks/2008-ebook-fiped-i.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div> -->


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2012-ebook-fiped-iii.pdf" target="_blank"><img src="{% static '/img/qf-anais-iii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">III Edição</h4>
				<a href="/static/ebooks/2010-ebook-fiped-iii.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2012-ebook-fiped-iv.pdf" target="_blank"><img src="{% static '/img/qf-anais-iv.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">IV Edição</h4>
				<a href="/static/ebooks/2012-ebook-fiped-iv.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2013-ebook-fiped-v-2.pdf" target="_blank"><img src="{% static '/img/qf-anais-v-2.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">V Edição</h4>
				<a href="/static/ebooks/2013-ebook-fiped-v-2.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/ebook-fiped-vi.pdf" target="_blank"><img src="{% static '/img/qf-anais-vi.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VI Edição</h4>
				<a href="/static/ebooks/ebook-fiped-vi.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>
	
	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
				<a href="/static/ebooks/2013-ebook-fiped-v-1.pdf" target="_blank"><img src="{% static '/img/qf-anais-v-1.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VII Edição</h4>
				<a href="/static/ebooks/2013-ebook-fiped-v-1.pdf" class="btn btn-default" target="_blank">Baixar</a>			</div>

	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
			<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" target="_blank"><img src="{% static '/img/qf-anais-viii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VIII Edição</h4>
				<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


	<div class="col-md-3 col-sm-6 text-center un-mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
			<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" target="_blank"><img src="{% static '/img/qf-anais-viii.jpg' %}" class="img-rounded"></a>
				<h4 class="h4">VIII Edição</h4>
				<a href="/static/ebooks/2016-ebook-fiped-viii.pdf" class="btn btn-default" target="_blank">Baixar</a>			
	</div>


			
</div>



<div class="cta--section bg--color-darkgray">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- Call To Action Content Start -->
				<div class="cta--content">
					<h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
				</div>
				<!-- Call To Action Content Start -->
			</div>

			<div class="col-md-3">
				<!-- Call To Action Button Start -->
				<div class="cta--btn text-center">
					<a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: pulse;">Inscreva-se agora!</a>				</div>
				<!-- Call To Action Button Start -->
			</div>
		</div>
	</div>
</div>
{% endblock %}