{% extends 'pages_includes/layout.html' %}
{% block layout_content %}
{% load staticfiles %}
<!-- Page Header Section Start -->
<div class="page-header--section text-center">
    <div class="page--title pd--130-0 bg--image bg--overlay" data-rjs="2" data-bg-img="{% static 'img/EVENTOS_ANTERIORES.jpg' %}">
        <div class="container">
            <h1 class="h1 wow jello" style="visibility: visible; animation-name: jello;"></h1>
        </div>
    </div>
    <!-- Page Breadcrumb Start -->
<!--
<div class="page--breadcrumb font--secondary">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Quick Fix</a></li>
            <li class="active"><span>About Us</span></li>
        </ul>
    </div>
</div>
-->
    <!-- Page Breadcrumb End --></div>
<!-- Page Header Section End -->

<div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
	<div class="heading text-center">
		<h2>HISTÓRICO - Secções nacionais</h2>
	</div>
</div>

            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>1ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>I FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> de Pau dos Ferros-RN</p>
                        <p>Data: 27 a 28 de novembro de 2008</p>
                        <p><a href="https://www.fipedpedagogia"><i>site</i>: www.fipedpedagogia</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>
            
            
    
            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>2ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>II FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> de Campina Grande da Universidade Estadual da Paraíba</p>
                        <p>Data: 25 a 27 de novembro de 2009</p>
                        <p><a href="#"><i>site</i>: www.forumdepedagogia.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>
            

            <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>3ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>III FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> Quixadá na Universidade Estadual do Ceará (UECE)</p>
                        <p>Data: 10 a 13 de novembro de 2010</p>
                        <p><a href="#"><i>site</i>: www.uece.br/eventos/3fiped/</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>
    


     <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>4ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>IV FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> de Parnaíba, na Universidade Federal do Piauí (UFPI)</p>
                        <p>Data: 27 a 29 de junho de 2012</p>
                        <p><a href="#"><i>site</i>: www.fipedbrasil.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>
      
    
      
           <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>5ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>V FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> de Vitória da Conquista, da Universidade Estadual do Sudoeste da Bahia (UESB)</p>
                        <p>Data: 27 a 29 de junho de 2013</p>
                        <p><a href="#"><i>site</i>: www.fipedbrasil.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>   
     
           

      <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>6ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>VI FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Cidade Universitária Professor José Mariano da Rocha Filho Universidade Federal de Santa Maria (UFSM)</p>
                        <p>Data: 30 de julho a 01 de agosto de 2014</p>
                        <p><a href="#"><i>site</i>: www.fipedbrasil.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>    
         
      
     
      <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>7ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>VII FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> Parintins, da Universidade do Estado do Amazonas (UEMA)</p>
                        <p>Data: 11 a 13 de novembro de 2015</p>
                        <p><a href="#"><i>site</i>: www.fipedbrasil.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 
    

     <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>8ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>VIII FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> de Imperatriz da Universidade Federal do Maranhão (UFMA)</p>
                        <p>Data: 09 a 12 de novembro de 2016</p>
                        <p><a href="#"><i>site</i>: www.fipedbrasil.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 



        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>9ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>IX FIPED BRASIL</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> Abaetetuba, da Universidade Federal do Pará (UFPA)</p>
                        <p>Data: 09 a 12 de novembro de 2016</p>
                        <p><a href="#"><i>site</i>: www.ixfiped.com.br</a></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 

        <div class="container un-mtb-5 wow jello" style="visibility: visible; animation-name: jello;">
	<div class="heading text-center">
		<h2>HISTÓRICO - Secções internacionais</h2>
	</div>
</div>


    <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>1ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: <i>Campus</i> Universitário de Angra do Heroismo, Ilha terceira, na Universidade de Açores (UAC)</p>
                        <p>Data: 22 a 23 de abril de 2009</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 


          <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>2ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Costa Rica</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade Nacional de Costa Rica (UNA). Heredia,</p>
                        <p>Data: outubro de 2010</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 


         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>3ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED México</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade Nacional do México (UNAM), <i>Campus</i> de Acatlán.  Cidade do México</p>
                        <p>Data: novembro de 2011</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>
          <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal I</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2009</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal II</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2012</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal III</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2013</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal IV</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2014</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal V</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2015</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>Portugal VI</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Portugal</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade dos Açores, campus de Angra do Heroísmo;</p>
                        <p>Data: 2016</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>

        <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>4ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Honduras</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidad Pedagógica Nacional FRANCISCO MORAZÁN. Tegucigalpa,</p>
                        <p>Data: novembro de 2013</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>  


         <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>5ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Cabo Verde</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade Santiago (US). Assomada,</p>
                        <p>Data: maio de 2015</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div>  

          <div class="row un-mtb-5 oficinas wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="col-md-3 text-right">
                <h2>6ª Edição</h2>
            </div>
            <div class="col-md-9">
                <h3>FIPED Chile</h3>
                <div class="row">
                 <div class="col-md-5">
                        <div style="border-left: 2px solid #f69323; padding-left: 1rem">
                            <p>Local: Universidade de Santiago  - Chile</p>
                        <p>Data: Novembro de 2018</p>
                        <p></p>
                        </div>
                    </div>
                    <div class="col-md-7 un-mb-3">

                    </div>

                   
                </div>
            </div>
        </div> 

        
<div class="cta--section bg--color-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">Faça parte do grande Fórum Internacional de Pedagogia da atualidade!</h2>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn text-center">
                    <a href="http://www.ainpgp.org/fiped/x/inscricao/formulario" class="btn btn-default wow infinite pulse" data-wow-duration="3s" style="visibility: hidden; animation-duration: 3s; animation-name: none;">Inscreva-se agora!</a>             </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
{% endblock%}